In [1]:
import pandas as pd
import numpy as np

In [2]:
data2011_to_load = "Education/ACSDT1Y2011.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2011_to_load = "Education/ACSDT1Y2011.B07009_metadata_2019-12-21T130141.csv"

fulldata2011 = pd.read_csv(data2011_to_load)
metadata2011 = pd.read_csv(metadata2011_to_load)

In [3]:
fulldata2011.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US12119,"Sumter County, Florida",85944,990,10935,2060,28883,3288,28196,3163,...,119,174,87,117,0,238,0,238,0,238
2,0500000US12127,"Volusia County, Florida",357918,1167,48317,4637,117616,5956,121225,6252,...,63,105,20,47,333,424,147,173,99,165
3,0500000US13013,"Barrow County, Georgia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0500000US13015,"Bartow County, Georgia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data2011 = fulldata2011[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2011 = data2011.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2011.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US12119,"Sumter County, Florida",28883,28196,10282,7648,85944
2,0500000US12127,"Volusia County, Florida",117616,121225,44859,25901,357918
3,0500000US13013,"Barrow County, Georgia",NaN,NaN,NaN,NaN,NaN
4,0500000US13015,"Bartow County, Georgia",NaN,NaN,NaN,NaN,NaN

In [6]:
data2011=data2011.drop(index =0)

In [7]:
data2011=data2011.reset_index(drop=True)

In [8]:
data2011.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US12119,"Sumter County, Florida",28883,28196,10282,7648,85944
1,0500000US12127,"Volusia County, Florida",117616,121225,44859,25901,357918
2,0500000US13013,"Barrow County, Georgia",NaN,NaN,NaN,NaN,NaN
3,0500000US13015,"Bartow County, Georgia",NaN,NaN,NaN,NaN,NaN
4,0500000US13021,"Bibb County, Georgia",32045,27453,13370,7826,99914

In [9]:
countySplit = data2011["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                0        1
0   Sumter County  Florida
1  Volusia County  Florida
2   Barrow County  Georgia
3   Bartow County  Georgia
4     Bibb County  Georgia

In [11]:
data2011["County"]= countySplit[0] 
data2011["State"]=countySplit[1]

In [12]:
data2011

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US12119,Sumter County,28883,28196,10282,7648,85944,Florida
1,0500000US12127,Volusia County,117616,121225,44859,25901,357918,Florida
2,0500000US13013,Barrow County,NaN,NaN,NaN,NaN,NaN,Georgia
3,0500000US13015,Bartow County,NaN,NaN,NaN,NaN,NaN,Georgia
4,0500000US13021,Bibb County,32045,27453,13370,7826,99914,Georgia
5,0500000US13031,Bulloch County,NaN,NaN,NaN,NaN,NaN,Georgia
6,0500000US13045,Carroll County,NaN,NaN,NaN,NaN,NaN,Georgia
7,0500000US13051,Chatham County,48519,51001,36081,17668,174888,Georgia
8,0500000US13057,Cherokee County,33981,41589,35432,14524,141884,Georgia
9,0500000US13059,Clarke County,13630,15226,11027,12750,59949,Georgia
10,0500000US13063,Clayton County,49857,48704,16905,9882,156244,Georgia
11,0500000US13067,Cobb County,92427,126875,127320,66591,457742,Georgia
12,0500000US13073,Columbia County,20917,26401,17284,11469,83259,Georgia
13,0500000US13077,Coweta County,NaN,NaN,NaN,NaN,NaN,Georgia
14,0500000US13089,DeKalb County,101576,123073,113665,70377,463917,Georgia
15,0500000US13095,Dougherty County,20046,17991,4838,3771,58815,Georgia
16,0500000US13097,Douglas County,24170,25456,15305,7795,82929,Georgia
17,0500000US13113,Fayette County,NaN,NaN,NaN,NaN,NaN,Georgia
18,0500000US13115,Floyd County,NaN,NaN,NaN,NaN,NaN,Georgia
19,0500000US13117,Forsyth County,NaN,NaN,NaN,NaN,NaN,Georgia
20,0500000US13121,Fulton County,115781,145037,195281,105524,623346,Georgia
21,0500000US13127,Glynn County,NaN,NaN,NaN,NaN,NaN,Georgia
22,0500000US13135,Gwinnett County,118706,148755,119948,55585,516801,Georgia
23,0500000US13139,Hall County,36719,29031,16054,10367,115637,Georgia
24,0500000US13151,Henry County,41810,39137,23809,11677,128568,Georgia
25,0500000US13153,Houston County,26112,30613,13140,10142,90841,Georgia
26,0500000US13179,Liberty County,10420,16718,5096,1850,36723,Georgia
27,0500000US13185,Lowndes County,21642,18279,7747,5899,63223,Georgia
28,0500000US13215,Muscogee County,34338,41479,18375,10041,120470,Georgia
29,0500000US13217,Newton County,NaN,NaN,NaN,NaN,NaN,Georgia
...,...,...,...,...,...,...,...,...
793,0500000US55063,La Crosse County,20655,25560,14785,7699,72844,Wisconsin
794,0500000US55071,Manitowoc County,NaN,NaN,NaN,NaN,NaN,Wisconsin
795,0500000US55073,Marathon County,36746,25231,14295,6443,91980,Wisconsin
796,0500000US55079,Milwaukee County,180129,175166,112106,56382,608916,Wisconsin
797,0500000US55087,Outagamie County,42112,38060,20410,10442,119102,Wisconsin
798,0500000US55089,Ozaukee County,15079,17107,17373,8303,59980,Wisconsin
799,0500000US55097,Portage County,NaN,NaN,NaN,NaN,NaN,Wisconsin
800,0500000US55101,Racine County,43749,43003,19656,9042,130790,Wisconsin
801,0500000US55105,Rock County,38604,34702,12850,6898,107045,Wisconsin
802,0500000US55109,St. Croix County,15899,20387,11866,4737,56467,Wisconsin
803,0500000US55117,Sheboygan County,28532,24094,12885,6220,79104,Wisconsin
804,0500000US55127,Walworth County,21463,20896,10777,6094,66289,Wisconsin
805,0500000US55131,Washington County,26238,32195,17544,8089,91353,Wisconsin
806,0500000US55133,Waukesha County,68210,81639,74790,34089,271798,Wisconsin
807,0500000US55139,Winnebago County,38624,34247,21055,8462,112193,Wisconsin
808,0500000US55141,Wood County,21754,17150,5293,3008,52617,Wisconsin
809,0500000US56021,Laramie County,16224,23846,11585,5439,61715,Wyoming
810,0500000US56025,Natrona County,13844,21039,7920,3163,51202,Wyoming
811,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
812,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
813,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
814,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72021,BayamÃ³n Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72097,MayagÃ¼ez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0100000US,United States,58653211,59838341,36915459,21975354,206471670,None

In [13]:
countyDelete = data2011["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2011["County"]= countyDelete[0] 
data2011["Delete"]=countyDelete[1]

In [15]:
data2011

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US12119,Sumter,28883,28196,10282,7648,85944,Florida,County
1,0500000US12127,Volusia,117616,121225,44859,25901,357918,Florida,County
2,0500000US13013,Barrow,NaN,NaN,NaN,NaN,NaN,Georgia,County
3,0500000US13015,Bartow,NaN,NaN,NaN,NaN,NaN,Georgia,County
4,0500000US13021,Bibb,32045,27453,13370,7826,99914,Georgia,County
5,0500000US13031,Bulloch,NaN,NaN,NaN,NaN,NaN,Georgia,County
6,0500000US13045,Carroll,NaN,NaN,NaN,NaN,NaN,Georgia,County
7,0500000US13051,Chatham,48519,51001,36081,17668,174888,Georgia,County
8,0500000US13057,Cherokee,33981,41589,35432,14524,141884,Georgia,County
9,0500000US13059,Clarke,13630,15226,11027,12750,59949,Georgia,County
10,0500000US13063,Clayton,49857,48704,16905,9882,156244,Georgia,County
11,0500000US13067,Cobb,92427,126875,127320,66591,457742,Georgia,County
12,0500000US13073,Columbia,20917,26401,17284,11469,83259,Georgia,County
13,0500000US13077,Coweta,NaN,NaN,NaN,NaN,NaN,Georgia,County
14,0500000US13089,DeKalb,101576,123073,113665,70377,463917,Georgia,County
15,0500000US13095,Dougherty,20046,17991,4838,3771,58815,Georgia,County
16,0500000US13097,Douglas,24170,25456,15305,7795,82929,Georgia,County
17,0500000US13113,Fayette,NaN,NaN,NaN,NaN,NaN,Georgia,County
18,0500000US13115,Floyd,NaN,NaN,NaN,NaN,NaN,Georgia,County
19,0500000US13117,Forsyth,NaN,NaN,NaN,NaN,NaN,Georgia,County
20,0500000US13121,Fulton,115781,145037,195281,105524,623346,Georgia,County
21,0500000US13127,Glynn,NaN,NaN,NaN,NaN,NaN,Georgia,County
22,0500000US13135,Gwinnett,118706,148755,119948,55585,516801,Georgia,County
23,0500000US13139,Hall,36719,29031,16054,10367,115637,Georgia,County
24,0500000US13151,Henry,41810,39137,23809,11677,128568,Georgia,County
25,0500000US13153,Houston,26112,30613,13140,10142,90841,Georgia,County
26,0500000US13179,Liberty,10420,16718,5096,1850,36723,Georgia,County
27,0500000US13185,Lowndes,21642,18279,7747,5899,63223,Georgia,County
28,0500000US13215,Muscogee,34338,41479,18375,10041,120470,Georgia,County
29,0500000US13217,Newton,NaN,NaN,NaN,NaN,NaN,Georgia,County
...,...,...,...,...,...,...,...,...,...
793,0500000US55063,La,20655,25560,14785,7699,72844,Wisconsin,Crosse County
794,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
795,0500000US55073,Marathon,36746,25231,14295,6443,91980,Wisconsin,County
796,0500000US55079,Milwaukee,180129,175166,112106,56382,608916,Wisconsin,County
797,0500000US55087,Outagamie,42112,38060,20410,10442,119102,Wisconsin,County
798,0500000US55089,Ozaukee,15079,17107,17373,8303,59980,Wisconsin,County
799,0500000US55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
800,0500000US55101,Racine,43749,43003,19656,9042,130790,Wisconsin,County
801,0500000US55105,Rock,38604,34702,12850,6898,107045,Wisconsin,County
802,0500000US55109,St.,15899,20387,11866,4737,56467,Wisconsin,Croix County
803,0500000US55117,Sheboygan,28532,24094,12885,6220,79104,Wisconsin,County
804,0500000US55127,Walworth,21463,20896,10777,6094,66289,Wisconsin,County
805,0500000US55131,Washington,26238,32195,17544,8089,91353,Wisconsin,County
806,0500000US55133,Waukesha,68210,81639,74790,34089,271798,Wisconsin,County
807,0500000US55139,Winnebago,38624,34247,21055,8462,112193,Wisconsin,County
808,0500000US55141,Wood,21754,17150,5293,3008,52617,Wisconsin,County
809,0500000US56021,Laramie,16224,23846,11585,5439,61715,Wyoming,County
810,0500000US56025,Natrona,13844,21039,7920,3163,51202,Wyoming,County
811,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
812,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
813,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
814,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
815,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
816,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
817,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
818,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
819,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
820,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
821,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
822,0100000US,United,58653211,59838341,36915459,21975354,206471670,None,States

In [16]:
data2011.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US12119,Sumter,28883,28196,10282,7648,85944,Florida
1,0500000US12127,Volusia,117616,121225,44859,25901,357918,Florida
2,0500000US13013,Barrow,NaN,NaN,NaN,NaN,NaN,Georgia
3,0500000US13015,Bartow,NaN,NaN,NaN,NaN,NaN,Georgia
4,0500000US13021,Bibb,32045,27453,13370,7826,99914,Georgia
5,0500000US13031,Bulloch,NaN,NaN,NaN,NaN,NaN,Georgia
6,0500000US13045,Carroll,NaN,NaN,NaN,NaN,NaN,Georgia
7,0500000US13051,Chatham,48519,51001,36081,17668,174888,Georgia
8,0500000US13057,Cherokee,33981,41589,35432,14524,141884,Georgia
9,0500000US13059,Clarke,13630,15226,11027,12750,59949,Georgia
10,0500000US13063,Clayton,49857,48704,16905,9882,156244,Georgia
11,0500000US13067,Cobb,92427,126875,127320,66591,457742,Georgia
12,0500000US13073,Columbia,20917,26401,17284,11469,83259,Georgia
13,0500000US13077,Coweta,NaN,NaN,NaN,NaN,NaN,Georgia
14,0500000US13089,DeKalb,101576,123073,113665,70377,463917,Georgia
15,0500000US13095,Dougherty,20046,17991,4838,3771,58815,Georgia
16,0500000US13097,Douglas,24170,25456,15305,7795,82929,Georgia
17,0500000US13113,Fayette,NaN,NaN,NaN,NaN,NaN,Georgia
18,0500000US13115,Floyd,NaN,NaN,NaN,NaN,NaN,Georgia
19,0500000US13117,Forsyth,NaN,NaN,NaN,NaN,NaN,Georgia
20,0500000US13121,Fulton,115781,145037,195281,105524,623346,Georgia
21,0500000US13127,Glynn,NaN,NaN,NaN,NaN,NaN,Georgia
22,0500000US13135,Gwinnett,118706,148755,119948,55585,516801,Georgia
23,0500000US13139,Hall,36719,29031,16054,10367,115637,Georgia
24,0500000US13151,Henry,41810,39137,23809,11677,128568,Georgia
25,0500000US13153,Houston,26112,30613,13140,10142,90841,Georgia
26,0500000US13179,Liberty,10420,16718,5096,1850,36723,Georgia
27,0500000US13185,Lowndes,21642,18279,7747,5899,63223,Georgia
28,0500000US13215,Muscogee,34338,41479,18375,10041,120470,Georgia
29,0500000US13217,Newton,NaN,NaN,NaN,NaN,NaN,Georgia
...,...,...,...,...,...,...,...,...
793,0500000US55063,La,20655,25560,14785,7699,72844,Wisconsin
794,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin
795,0500000US55073,Marathon,36746,25231,14295,6443,91980,Wisconsin
796,0500000US55079,Milwaukee,180129,175166,112106,56382,608916,Wisconsin
797,0500000US55087,Outagamie,42112,38060,20410,10442,119102,Wisconsin
798,0500000US55089,Ozaukee,15079,17107,17373,8303,59980,Wisconsin
799,0500000US55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin
800,0500000US55101,Racine,43749,43003,19656,9042,130790,Wisconsin
801,0500000US55105,Rock,38604,34702,12850,6898,107045,Wisconsin
802,0500000US55109,St.,15899,20387,11866,4737,56467,Wisconsin
803,0500000US55117,Sheboygan,28532,24094,12885,6220,79104,Wisconsin
804,0500000US55127,Walworth,21463,20896,10777,6094,66289,Wisconsin
805,0500000US55131,Washington,26238,32195,17544,8089,91353,Wisconsin
806,0500000US55133,Waukesha,68210,81639,74790,34089,271798,Wisconsin
807,0500000US55139,Winnebago,38624,34247,21055,8462,112193,Wisconsin
808,0500000US55141,Wood,21754,17150,5293,3008,52617,Wisconsin
809,0500000US56021,Laramie,16224,23846,11585,5439,61715,Wyoming
810,0500000US56025,Natrona,13844,21039,7920,3163,51202,Wyoming
811,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
812,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
813,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
814,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0100000US,United,58653211,59838341,36915459,21975354,206471670,None

In [17]:
splitFIPS = data2011["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  12119
1  0500000  12127
2  0500000  13013
3  0500000  13015
4  0500000  13021

In [19]:
data2011["Delete"]= splitFIPS[0] 
data2011["FIPS"]=splitFIPS[1]

In [20]:
data2011.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,12119,Sumter,28883,28196,10282,7648,85944,Florida
1,12127,Volusia,117616,121225,44859,25901,357918,Florida
2,13013,Barrow,NaN,NaN,NaN,NaN,NaN,Georgia
3,13015,Bartow,NaN,NaN,NaN,NaN,NaN,Georgia
4,13021,Bibb,32045,27453,13370,7826,99914,Georgia
5,13031,Bulloch,NaN,NaN,NaN,NaN,NaN,Georgia
6,13045,Carroll,NaN,NaN,NaN,NaN,NaN,Georgia
7,13051,Chatham,48519,51001,36081,17668,174888,Georgia
8,13057,Cherokee,33981,41589,35432,14524,141884,Georgia
9,13059,Clarke,13630,15226,11027,12750,59949,Georgia
10,13063,Clayton,49857,48704,16905,9882,156244,Georgia
11,13067,Cobb,92427,126875,127320,66591,457742,Georgia
12,13073,Columbia,20917,26401,17284,11469,83259,Georgia
13,13077,Coweta,NaN,NaN,NaN,NaN,NaN,Georgia
14,13089,DeKalb,101576,123073,113665,70377,463917,Georgia
15,13095,Dougherty,20046,17991,4838,3771,58815,Georgia
16,13097,Douglas,24170,25456,15305,7795,82929,Georgia
17,13113,Fayette,NaN,NaN,NaN,NaN,NaN,Georgia
18,13115,Floyd,NaN,NaN,NaN,NaN,NaN,Georgia
19,13117,Forsyth,NaN,NaN,NaN,NaN,NaN,Georgia
20,13121,Fulton,115781,145037,195281,105524,623346,Georgia
21,13127,Glynn,NaN,NaN,NaN,NaN,NaN,Georgia
22,13135,Gwinnett,118706,148755,119948,55585,516801,Georgia
23,13139,Hall,36719,29031,16054,10367,115637,Georgia
24,13151,Henry,41810,39137,23809,11677,128568,Georgia
25,13153,Houston,26112,30613,13140,10142,90841,Georgia
26,13179,Liberty,10420,16718,5096,1850,36723,Georgia
27,13185,Lowndes,21642,18279,7747,5899,63223,Georgia
28,13215,Muscogee,34338,41479,18375,10041,120470,Georgia
29,13217,Newton,NaN,NaN,NaN,NaN,NaN,Georgia
...,...,...,...,...,...,...,...,...
793,55063,La,20655,25560,14785,7699,72844,Wisconsin
794,55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin
795,55073,Marathon,36746,25231,14295,6443,91980,Wisconsin
796,55079,Milwaukee,180129,175166,112106,56382,608916,Wisconsin
797,55087,Outagamie,42112,38060,20410,10442,119102,Wisconsin
798,55089,Ozaukee,15079,17107,17373,8303,59980,Wisconsin
799,55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin
800,55101,Racine,43749,43003,19656,9042,130790,Wisconsin
801,55105,Rock,38604,34702,12850,6898,107045,Wisconsin
802,55109,St.,15899,20387,11866,4737,56467,Wisconsin
803,55117,Sheboygan,28532,24094,12885,6220,79104,Wisconsin
804,55127,Walworth,21463,20896,10777,6094,66289,Wisconsin
805,55131,Washington,26238,32195,17544,8089,91353,Wisconsin
806,55133,Waukesha,68210,81639,74790,34089,271798,Wisconsin
807,55139,Winnebago,38624,34247,21055,8462,112193,Wisconsin
808,55141,Wood,21754,17150,5293,3008,52617,Wisconsin
809,56021,Laramie,16224,23846,11585,5439,61715,Wyoming
810,56025,Natrona,13844,21039,7920,3163,51202,Wyoming
811,72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
812,72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
813,72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
814,72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,,United,58653211,59838341,36915459,21975354,206471670,None