In [1]:
import pandas as pd
import numpy as np

In [2]:
data2012_to_load = "../Education/5Year/ACSDT5Y2012.B06009_data_with_overlays_2020-01-06T222644.csv"
metadata2012_to_load = "../Education/5Year/ACSDT5Y2012.B06009_metadata_2020-01-06T222644.csv"
data2016_to_load = "../Education/5Year/ACSDT5Y2016.B06009_data_with_overlays_2020-01-06T222644.csv"
metadata2016_to_load = "../Education/5Year/ACSDT5Y2016.B06009_metadata_2020-01-06T222644.csv"
data2018_to_load = "../Education/5Year/ACSDT5Y2018.B06009_data_with_overlays_2020-01-06T222644.csv"
metadata2018_to_load = "../Education/5Year/ACSDT5Y2018.B06009_metadata_2020-01-06T222644.csv"

fulldata2012 = pd.read_csv(data2012_to_load)
metadata2012 = pd.read_csv(metadata2012_to_load)
fulldata2016 = pd.read_csv(data2016_to_load)
metadata2016 = pd.read_csv(metadata2016_to_load)
fulldata2018 = pd.read_csv(data2018_to_load)
metadata2018 = pd.read_csv(metadata2018_to_load)

In [3]:
data2012 = fulldata2012[['GEO_ID',"NAME","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B06009_001E"]]

data2012 = data2012.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B06009_002E":"Less Than High School Graduate",
                                        "B06009_003E":"High school graduate (includes equivalency)",
                                        "B06009_004E":"Some college or associate's degree",
                                        "B06009_005E":"Bachelor's degree",
                                        "B06009_006E":"Graduate or professional degree","B06009_001E":"Total"})

data2016 = fulldata2016[['GEO_ID',"NAME","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B06009_001E"]]
data2016 = data2016.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B06009_002E":"Less Than High School Graduate",
                                        "B06009_003E":"High school graduate (includes equivalency)",
                                        "B06009_004E":"Some college or associate's degree",
                                        "B06009_005E":"Bachelor's degree",
                                        "B06009_006E":"Graduate or professional degree","B06009_001E":"Total"})

data2018 = fulldata2018[['GEO_ID',"NAME","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B06009_001E"]]

data2018 = data2018.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B06009_002E":"Less Than High School Graduate",
                                        "B06009_003E":"High school graduate (includes equivalency)",
                                        "B06009_004E":"Some college or associate's degree",
                                        "B06009_005E":"Bachelor's degree",
                                        "B06009_006E":"Graduate or professional degree","B06009_001E":"Total"})

In [4]:
data2012=data2012.drop(index =0)
data2016=data2016.drop(index =0)
data2018=data2018.drop(index =0)

In [5]:
data2012=data2012.reset_index(drop=True)
data2016=data2016.reset_index(drop=True)
data2018=data2018.reset_index(drop=True)

In [6]:
data2012.insert(len(data2012.columns), 'Year', 2012)
data2016.insert(len(data2016.columns), 'Year', 2016)
data2018.insert(len(data2018.columns), 'Year', 2018)

In [14]:
year2012_to_load = "../dataPoints/education_2012_clean.xlsx"
year2016_to_load = "../dataPoints/education_2016_clean.csv"
year2018_to_load = "../dataPoints/education_2018_clean.csv"

year2012 = pd.read_excel(year2012_to_load)
year2016 = pd.read_csv(year2016_to_load)
year2018 = pd.read_csv(year2018_to_load)

In [7]:
years = [data2012, data2016, data2018]

In [8]:
allData = pd.concat(years)

In [9]:
allData

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,Year
0,0500000US01001,"Autauga County, Alabama",11874,10409,5085,2544,35144,2012
1,0500000US01003,"Baldwin County, Alabama",36675,40497,23840,11467,127271,2012
2,0500000US01005,"Barbour County, Alabama",6320,4892,1613,1144,18982,2012
3,0500000US01007,"Bibb County, Alabama",6457,3963,928,468,15518,2012
4,0500000US01009,"Blount County, Alabama",13994,10498,3137,1655,38703,2012
5,0500000US01011,"Bullock County, Alabama",2729,1697,485,415,7575,2012
6,0500000US01013,"Butler County, Alabama",5463,3465,1229,583,14081,2012
7,0500000US01015,"Calhoun County, Alabama",26224,22932,7831,4713,78303,2012
8,0500000US01017,"Chambers County, Alabama",8277,6546,1738,866,23621,2012
9,0500000US01019,"Cherokee County, Alabama",6206,5627,1430,999,18503,2012
10,0500000US01021,"Chilton County, Alabama",11356,6958,2276,1332,28945,2012
11,0500000US01023,"Choctaw County, Alabama",3683,2298,742,406,9617,2012
12,0500000US01025,"Clarke County, Alabama",7122,4190,1383,803,17214,2012
13,0500000US01027,"Clay County, Alabama",3696,2622,554,302,9673,2012
14,0500000US01029,"Cleburne County, Alabama",3871,2716,531,433,10173,2012
15,0500000US01031,"Coffee County, Alabama",9877,9897,4668,2875,33409,2012
16,0500000US01033,"Colbert County, Alabama",13254,11550,4520,2323,37936,2012
17,0500000US01035,"Conecuh County, Alabama",3681,2216,455,414,8930,2012
18,0500000US01037,"Coosa County, Alabama",3576,1816,400,387,8153,2012
19,0500000US01039,"Covington County, Alabama",8949,7718,2249,1358,26210,2012
20,0500000US01041,"Crenshaw County, Alabama",3691,2496,607,438,9477,2012
21,0500000US01043,"Cullman County, Alabama",17913,17584,4735,3045,54919,2012
22,0500000US01045,"Dale County, Alabama",10094,11915,3862,1931,33020,2012
23,0500000US01047,"Dallas County, Alabama",9841,7461,2242,1481,27909,2012
24,0500000US01049,"DeKalb County, Alabama",16669,11738,2735,1888,46841,2012
25,0500000US01051,"Elmore County, Alabama",18197,16358,7340,3866,53090,2012
26,0500000US01053,"Escambia County, Alabama",9156,7369,2159,1038,26230,2012
27,0500000US01055,"Etowah County, Alabama",23262,24253,6850,3980,71383,2012
28,0500000US01057,"Fayette County, Alabama",4690,3047,736,657,12046,2012
29,0500000US01059,"Franklin County, Alabama",7119,5704,1728,832,21054,2012
...,...,...,...,...,...,...,...,...
3191,0500000US18181,"White County, Indiana",6908,5084,1815,990,16694,2018
3192,0500000US18075,"Jay County, Indiana",6504,3717,962,498,13782,2018
3193,0500000US18019,"Clark County, Indiana",27298,27219,11396,5280,79800,2018
3194,0500000US19101,"Jefferson County, Iowa",3540,4263,2164,1866,12768,2018
3195,0500000US19005,"Allamakee County, Iowa",3770,2930,1329,463,9688,2018
3196,0500000US19049,"Dallas County, Iowa",9851,15319,18864,8185,54781,2018
3197,0500000US19023,"Butler County, Iowa",3928,3893,1324,499,10404,2018
3198,0500000US19071,"Fremont County, Iowa",1790,1862,658,302,4987,2018
3199,0500000US19173,"Taylor County, Iowa",1691,1559,459,183,4314,2018
3200,0500000US19195,"Worth County, Iowa",1962,2107,593,226,5268,2018
3201,0500000US19003,"Adams County, Iowa",1056,1006,371,107,2700,2018
3202,0500000US19037,"Chickasaw County, Iowa",3627,2650,1077,335,8334,2018
3203,0500000US19059,"Dickinson County, Iowa",3558,4609,2876,1096,12674,2018
3204,0500000US19103,"Johnson County, Iowa",13985,22501,24183,21547,86316,2018
3205,0500000US19171,"Tama County, Iowa",4654,4045,1370,505,11627,2018
3206,0500000US19069,"Franklin County, Iowa",2566,2629,951,313,7131,2018
3207,0500000US19027,"Carroll County, Iowa",5013,4823,2292,778,13798,2018
3208,0500000US19067,"Floyd County, Iowa",3700,3842,1690,480,10879,2018
3209,0500000US19115,"Louisa County, Iowa",2812,2402,756,340,7703,2018
3210,0500000US19119,"Lyon County, Iowa",2776,2490,1214,412,7611,2018
3211,0500000US19165,"Shelby County, Iowa",2976,2895,1280,439,8255,2018
3212,0500000US19087,"Henry County, Iowa",5149,4815,2064,680,13675,2018
3213,0500000US19145,"Page County, Iowa",3854,3888,1779,595,11130,2018
3214,0500000US19155,"Pottawattamie County, Iowa",20861,22180,9321,4075,63090,2018
3215,0500000US19043,"Clayton County, Iowa",5502,3848,1670,496,12629,2018
3216,0500000US19021,"Buena Vista County, Iowa",3762,3658,1751,755,12766,2018
3217,0500000US19077,"Guthrie County, Iowa",2904,2594,1093,393,7523,2018
3218,0500000US19091,"Humboldt County, Iowa",2401,2368,1089,304,6682,2018
3219,0500000US19183,"Washington County, Iowa",5888,4537,2269,945,14975,2018
3220,0100000US,United States,59265308,63365655,42470927,26396124,218446071,2018

In [10]:
countySplit = allData["County"].str.split(", ", n = 1, expand = True)

In [11]:
allData["County"]= countySplit[0] 
allData["State"]=countySplit[1]

In [12]:
countyDelete = allData["County"].str.split(" ", n = 1, expand = True)

In [13]:
allData["County"]= countyDelete[0] 
allData["Delete"]=countyDelete[1]

In [14]:
data2012.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,Year
0,0500000US01001,"Autauga County, Alabama",11874,10409,5085,2544,35144,2012
1,0500000US01003,"Baldwin County, Alabama",36675,40497,23840,11467,127271,2012
2,0500000US01005,"Barbour County, Alabama",6320,4892,1613,1144,18982,2012
3,0500000US01007,"Bibb County, Alabama",6457,3963,928,468,15518,2012
4,0500000US01009,"Blount County, Alabama",13994,10498,3137,1655,38703,2012

In [15]:
allData.drop(columns=['Delete'], inplace = True)

In [16]:
splitFIPS = allData["FIPS"].str.split("US", n = 1, expand = True)

In [17]:
splitFIPS.head()

         0      1
0  0500000  01001
1  0500000  01003
2  0500000  01005
3  0500000  01007
4  0500000  01009

In [18]:
allData["Delete"]= splitFIPS[0] 
allData["FIPS"]=splitFIPS[1]

In [19]:
allData.drop(columns=['Delete'], inplace = True)

In [20]:
allData.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,Year,State
0,01001,Autauga,11874,10409,5085,2544,35144,2012,Alabama
1,01003,Baldwin,36675,40497,23840,11467,127271,2012,Alabama
2,01005,Barbour,6320,4892,1613,1144,18982,2012,Alabama
3,01007,Bibb,6457,3963,928,468,15518,2012,Alabama
4,01009,Blount,13994,10498,3137,1655,38703,2012,Alabama

In [21]:
allData[allData.County != 'United']

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,Year,State
0,01001,Autauga,11874,10409,5085,2544,35144,2012,Alabama
1,01003,Baldwin,36675,40497,23840,11467,127271,2012,Alabama
2,01005,Barbour,6320,4892,1613,1144,18982,2012,Alabama
3,01007,Bibb,6457,3963,928,468,15518,2012,Alabama
4,01009,Blount,13994,10498,3137,1655,38703,2012,Alabama
5,01011,Bullock,2729,1697,485,415,7575,2012,Alabama
6,01013,Butler,5463,3465,1229,583,14081,2012,Alabama
7,01015,Calhoun,26224,22932,7831,4713,78303,2012,Alabama
8,01017,Chambers,8277,6546,1738,866,23621,2012,Alabama
9,01019,Cherokee,6206,5627,1430,999,18503,2012,Alabama
10,01021,Chilton,11356,6958,2276,1332,28945,2012,Alabama
11,01023,Choctaw,3683,2298,742,406,9617,2012,Alabama
12,01025,Clarke,7122,4190,1383,803,17214,2012,Alabama
13,01027,Clay,3696,2622,554,302,9673,2012,Alabama
14,01029,Cleburne,3871,2716,531,433,10173,2012,Alabama
15,01031,Coffee,9877,9897,4668,2875,33409,2012,Alabama
16,01033,Colbert,13254,11550,4520,2323,37936,2012,Alabama
17,01035,Conecuh,3681,2216,455,414,8930,2012,Alabama
18,01037,Coosa,3576,1816,400,387,8153,2012,Alabama
19,01039,Covington,8949,7718,2249,1358,26210,2012,Alabama
20,01041,Crenshaw,3691,2496,607,438,9477,2012,Alabama
21,01043,Cullman,17913,17584,4735,3045,54919,2012,Alabama
22,01045,Dale,10094,11915,3862,1931,33020,2012,Alabama
23,01047,Dallas,9841,7461,2242,1481,27909,2012,Alabama
24,01049,DeKalb,16669,11738,2735,1888,46841,2012,Alabama
25,01051,Elmore,18197,16358,7340,3866,53090,2012,Alabama
26,01053,Escambia,9156,7369,2159,1038,26230,2012,Alabama
27,01055,Etowah,23262,24253,6850,3980,71383,2012,Alabama
28,01057,Fayette,4690,3047,736,657,12046,2012,Alabama
29,01059,Franklin,7119,5704,1728,832,21054,2012,Alabama
...,...,...,...,...,...,...,...,...,...
3190,18069,Huntington,10448,7474,3074,1653,24902,2018,Indiana
3191,18181,White,6908,5084,1815,990,16694,2018,Indiana
3192,18075,Jay,6504,3717,962,498,13782,2018,Indiana
3193,18019,Clark,27298,27219,11396,5280,79800,2018,Indiana
3194,19101,Jefferson,3540,4263,2164,1866,12768,2018,Iowa
3195,19005,Allamakee,3770,2930,1329,463,9688,2018,Iowa
3196,19049,Dallas,9851,15319,18864,8185,54781,2018,Iowa
3197,19023,Butler,3928,3893,1324,499,10404,2018,Iowa
3198,19071,Fremont,1790,1862,658,302,4987,2018,Iowa
3199,19173,Taylor,1691,1559,459,183,4314,2018,Iowa
3200,19195,Worth,1962,2107,593,226,5268,2018,Iowa
3201,19003,Adams,1056,1006,371,107,2700,2018,Iowa
3202,19037,Chickasaw,3627,2650,1077,335,8334,2018,Iowa
3203,19059,Dickinson,3558,4609,2876,1096,12674,2018,Iowa
3204,19103,Johnson,13985,22501,24183,21547,86316,2018,Iowa
3205,19171,Tama,4654,4045,1370,505,11627,2018,Iowa
3206,19069,Franklin,2566,2629,951,313,7131,2018,Iowa
3207,19027,Carroll,5013,4823,2292,778,13798,2018,Iowa
3208,19067,Floyd,3700,3842,1690,480,10879,2018,Iowa
3209,19115,Louisa,2812,2402,756,340,7703,2018,Iowa
3210,19119,Lyon,2776,2490,1214,412,7611,2018,Iowa
3211,19165,Shelby,2976,2895,1280,439,8255,2018,Iowa
3212,19087,Henry,5149,4815,2064,680,13675,2018,Iowa
3213,19145,Page,3854,3888,1779,595,11130,2018,Iowa
3214,19155,Pottawattamie,20861,22180,9321,4075,63090,2018,Iowa
3215,19043,Clayton,5502,3848,1670,496,12629,2018,Iowa
3216,19021,Buena,3762,3658,1751,755,12766,2018,Iowa
3217,19077,Guthrie,2904,2594,1093,393,7523,2018,Iowa
3218,19091,Humboldt,2401,2368,1089,304,6682,2018,Iowa
3219,19183,Washington,5888,4537,2269,945,14975,2018,Iowa

In [22]:
path = '../dataPoints/education_5_year.xlsx'
allData.to_excel(path,index=False)