In [1]:
import pandas as pd
import numpy as np

In [2]:
data2017_to_load = "../Education/ACSDT1Y2017.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2017_to_load = "../Education/ACSDT1Y2017.B07009_metadata_2019-12-21T130141.csv"

fulldata2017 = pd.read_csv(data2017_to_load)
metadata2017 = pd.read_csv(metadata2017_to_load)

In [3]:
fulldata2017.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US35043,"Sandoval County, New Mexico",97983,386,10147,1667,26068,2460,33646,2273,...,65,105,39,69,139,229,0,201,0,201
2,0500000US35045,"San Juan County, New Mexico",81121,643,13080,1986,25803,2367,30863,2279,...,0,201,0,201,87,117,0,201,38,62
3,0500000US35049,"Santa Fe County, New Mexico",110401,423,10345,1874,26052,2480,29466,2400,...,0,201,0,201,115,128,47,79,100,101
4,0500000US35061,"Valencia County, New Mexico",50650,898,7897,1744,16557,2328,18725,1843,...,0,201,0,201,0,201,0,201,0,201

In [4]:
data2017 = fulldata2017[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2017 = data2017.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2017.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US35043,"Sandoval County, New Mexico",26068,33646,16504,11618,97983
2,0500000US35045,"San Juan County, New Mexico",25803,30863,7330,4045,81121
3,0500000US35049,"Santa Fe County, New Mexico",26052,29466,22386,22152,110401
4,0500000US35061,"Valencia County, New Mexico",16557,18725,4633,2838,50650

In [6]:
data2017=data2017.drop(index =0)

In [7]:
data2017=data2017.reset_index(drop=True)

In [8]:
data2017.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US35043,"Sandoval County, New Mexico",26068,33646,16504,11618,97983
1,0500000US35045,"San Juan County, New Mexico",25803,30863,7330,4045,81121
2,0500000US35049,"Santa Fe County, New Mexico",26052,29466,22386,22152,110401
3,0500000US35061,"Valencia County, New Mexico",16557,18725,4633,2838,50650
4,0500000US36001,"Albany County, New York",46290,55943,45295,42571,205266

In [9]:
countySplit = data2017["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                 0           1
0  Sandoval County  New Mexico
1  San Juan County  New Mexico
2  Santa Fe County  New Mexico
3  Valencia County  New Mexico
4    Albany County    New York

In [11]:
data2017["County"]= countySplit[0] 
data2017["State"]=countySplit[1]

In [12]:
data2017

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US35043,Sandoval County,26068,33646,16504,11618,97983,New Mexico
1,0500000US35045,San Juan County,25803,30863,7330,4045,81121,New Mexico
2,0500000US35049,Santa Fe County,26052,29466,22386,22152,110401,New Mexico
3,0500000US35061,Valencia County,16557,18725,4633,2838,50650,New Mexico
4,0500000US36001,Albany County,46290,55943,45295,42571,205266,New York
5,0500000US36005,Bronx County,263368,235123,119914,67208,953271,New York
6,0500000US36007,Broome County,39430,41194,19509,15506,127879,New York
7,0500000US36009,Cattaraugus County,19738,16883,5875,4740,52806,New York
8,0500000US36011,Cayuga County,18266,17876,8024,4537,55989,New York
9,0500000US36013,Chautauqua County,30577,28680,10981,9249,88890,New York
10,0500000US36015,Chemung County,NaN,NaN,NaN,NaN,NaN,New York
11,0500000US36019,Clinton County,21876,13976,7123,5088,55133,New York
12,0500000US36027,Dutchess County,55384,62871,37229,33979,206240,New York
13,0500000US36029,Erie County,177229,196905,129263,94011,649960,New York
14,0500000US36045,Jefferson County,25126,24292,9243,6066,72243,New York
15,0500000US36047,Kings County,483107,350812,402835,272709,1820860,New York
16,0500000US36051,Livingston County,NaN,NaN,NaN,NaN,NaN,New York
17,0500000US36053,Madison County,NaN,NaN,NaN,NaN,NaN,New York
18,0500000US36055,Monroe County,126028,148592,104187,87925,515145,New York
19,0500000US36059,Nassau County,218684,217357,236890,192591,951605,New York
20,0500000US36061,New York County,153590,170963,389667,381334,1273269,New York
21,0500000US36063,Niagara County,50467,50468,20065,16834,151004,New York
22,0500000US36065,Oneida County,50510,52412,22461,15430,160501,New York
23,0500000US36067,Onondaga County,82238,93280,63638,50344,317164,New York
24,0500000US36069,Ontario County,19619,24531,17108,11547,77999,New York
25,0500000US36071,Orange County,71246,72797,44360,31454,244723,New York
26,0500000US36075,Oswego County,30237,25326,7974,6685,80195,New York
27,0500000US36079,Putnam County,20597,18095,14929,12736,71447,New York
28,0500000US36081,Queens County,493794,372885,335990,187649,1695302,New York
29,0500000US36083,Rensselaer County,31730,34954,20143,15125,111047,New York
...,...,...,...,...,...,...,...,...
808,0500000US55063,La Crosse County,20730,25815,16682,7423,75844,Wisconsin
809,0500000US55071,Manitowoc County,NaN,NaN,NaN,NaN,NaN,Wisconsin
810,0500000US55073,Marathon County,32134,30120,15586,8591,93819,Wisconsin
811,0500000US55079,Milwaukee County,188297,177427,121460,72032,630803,Wisconsin
812,0500000US55087,Outagamie County,37715,43406,25354,12481,126394,Wisconsin
813,0500000US55089,Ozaukee County,11913,15368,19063,12273,61827,Wisconsin
814,0500000US55097,Portage County,14238,13174,10847,4081,44911,Wisconsin
815,0500000US55101,Racine County,41745,43514,24352,12639,132881,Wisconsin
816,0500000US55105,Rock County,40453,36040,16261,7296,110328,Wisconsin
817,0500000US55109,St. Croix County,16080,20096,14162,6826,59401,Wisconsin
818,0500000US55117,Sheboygan County,27886,26510,14080,6043,79984,Wisconsin
819,0500000US55127,Walworth County,20863,20682,13057,7595,68366,Wisconsin
820,0500000US55131,Washington County,28287,32968,21264,8337,95324,Wisconsin
821,0500000US55133,Waukesha County,64016,79712,85939,42625,282781,Wisconsin
822,0500000US55139,Winnebago County,40570,33123,23384,10338,114495,Wisconsin
823,0500000US55141,Wood County,19234,18793,6841,4018,52345,Wisconsin
824,0500000US56021,Laramie County,17351,25811,10821,8006,67446,Wyoming
825,0500000US56025,Natrona County,NaN,NaN,NaN,NaN,NaN,Wyoming
826,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
831,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
832,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
833,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
834,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
835,0500000US72097,MayagÃ¼ez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
836,0500000US72021,BayamÃ³n Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
837,0100000US,United States,60031545,63870412,43585028,27180887,221250083,None

In [13]:
countyDelete = data2017["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2017["County"]= countyDelete[0] 
data2017["Delete"]=countyDelete[1]

In [15]:
data2017

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US35043,Sandoval,26068,33646,16504,11618,97983,New Mexico,County
1,0500000US35045,San,25803,30863,7330,4045,81121,New Mexico,Juan County
2,0500000US35049,Santa,26052,29466,22386,22152,110401,New Mexico,Fe County
3,0500000US35061,Valencia,16557,18725,4633,2838,50650,New Mexico,County
4,0500000US36001,Albany,46290,55943,45295,42571,205266,New York,County
5,0500000US36005,Bronx,263368,235123,119914,67208,953271,New York,County
6,0500000US36007,Broome,39430,41194,19509,15506,127879,New York,County
7,0500000US36009,Cattaraugus,19738,16883,5875,4740,52806,New York,County
8,0500000US36011,Cayuga,18266,17876,8024,4537,55989,New York,County
9,0500000US36013,Chautauqua,30577,28680,10981,9249,88890,New York,County
10,0500000US36015,Chemung,NaN,NaN,NaN,NaN,NaN,New York,County
11,0500000US36019,Clinton,21876,13976,7123,5088,55133,New York,County
12,0500000US36027,Dutchess,55384,62871,37229,33979,206240,New York,County
13,0500000US36029,Erie,177229,196905,129263,94011,649960,New York,County
14,0500000US36045,Jefferson,25126,24292,9243,6066,72243,New York,County
15,0500000US36047,Kings,483107,350812,402835,272709,1820860,New York,County
16,0500000US36051,Livingston,NaN,NaN,NaN,NaN,NaN,New York,County
17,0500000US36053,Madison,NaN,NaN,NaN,NaN,NaN,New York,County
18,0500000US36055,Monroe,126028,148592,104187,87925,515145,New York,County
19,0500000US36059,Nassau,218684,217357,236890,192591,951605,New York,County
20,0500000US36061,New,153590,170963,389667,381334,1273269,New York,York County
21,0500000US36063,Niagara,50467,50468,20065,16834,151004,New York,County
22,0500000US36065,Oneida,50510,52412,22461,15430,160501,New York,County
23,0500000US36067,Onondaga,82238,93280,63638,50344,317164,New York,County
24,0500000US36069,Ontario,19619,24531,17108,11547,77999,New York,County
25,0500000US36071,Orange,71246,72797,44360,31454,244723,New York,County
26,0500000US36075,Oswego,30237,25326,7974,6685,80195,New York,County
27,0500000US36079,Putnam,20597,18095,14929,12736,71447,New York,County
28,0500000US36081,Queens,493794,372885,335990,187649,1695302,New York,County
29,0500000US36083,Rensselaer,31730,34954,20143,15125,111047,New York,County
...,...,...,...,...,...,...,...,...,...
808,0500000US55063,La,20730,25815,16682,7423,75844,Wisconsin,Crosse County
809,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
810,0500000US55073,Marathon,32134,30120,15586,8591,93819,Wisconsin,County
811,0500000US55079,Milwaukee,188297,177427,121460,72032,630803,Wisconsin,County
812,0500000US55087,Outagamie,37715,43406,25354,12481,126394,Wisconsin,County
813,0500000US55089,Ozaukee,11913,15368,19063,12273,61827,Wisconsin,County
814,0500000US55097,Portage,14238,13174,10847,4081,44911,Wisconsin,County
815,0500000US55101,Racine,41745,43514,24352,12639,132881,Wisconsin,County
816,0500000US55105,Rock,40453,36040,16261,7296,110328,Wisconsin,County
817,0500000US55109,St.,16080,20096,14162,6826,59401,Wisconsin,Croix County
818,0500000US55117,Sheboygan,27886,26510,14080,6043,79984,Wisconsin,County
819,0500000US55127,Walworth,20863,20682,13057,7595,68366,Wisconsin,County
820,0500000US55131,Washington,28287,32968,21264,8337,95324,Wisconsin,County
821,0500000US55133,Waukesha,64016,79712,85939,42625,282781,Wisconsin,County
822,0500000US55139,Winnebago,40570,33123,23384,10338,114495,Wisconsin,County
823,0500000US55141,Wood,19234,18793,6841,4018,52345,Wisconsin,County
824,0500000US56021,Laramie,17351,25811,10821,8006,67446,Wyoming,County
825,0500000US56025,Natrona,NaN,NaN,NaN,NaN,NaN,Wyoming,County
826,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
827,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
828,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
829,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
830,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
831,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
832,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
833,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
834,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
835,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
836,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
837,0100000US,United,60031545,63870412,43585028,27180887,221250083,None,States

In [16]:
data2017.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US35043,Sandoval,26068,33646,16504,11618,97983,New Mexico
1,0500000US35045,San,25803,30863,7330,4045,81121,New Mexico
2,0500000US35049,Santa,26052,29466,22386,22152,110401,New Mexico
3,0500000US35061,Valencia,16557,18725,4633,2838,50650,New Mexico
4,0500000US36001,Albany,46290,55943,45295,42571,205266,New York
5,0500000US36005,Bronx,263368,235123,119914,67208,953271,New York
6,0500000US36007,Broome,39430,41194,19509,15506,127879,New York
7,0500000US36009,Cattaraugus,19738,16883,5875,4740,52806,New York
8,0500000US36011,Cayuga,18266,17876,8024,4537,55989,New York
9,0500000US36013,Chautauqua,30577,28680,10981,9249,88890,New York
10,0500000US36015,Chemung,NaN,NaN,NaN,NaN,NaN,New York
11,0500000US36019,Clinton,21876,13976,7123,5088,55133,New York
12,0500000US36027,Dutchess,55384,62871,37229,33979,206240,New York
13,0500000US36029,Erie,177229,196905,129263,94011,649960,New York
14,0500000US36045,Jefferson,25126,24292,9243,6066,72243,New York
15,0500000US36047,Kings,483107,350812,402835,272709,1820860,New York
16,0500000US36051,Livingston,NaN,NaN,NaN,NaN,NaN,New York
17,0500000US36053,Madison,NaN,NaN,NaN,NaN,NaN,New York
18,0500000US36055,Monroe,126028,148592,104187,87925,515145,New York
19,0500000US36059,Nassau,218684,217357,236890,192591,951605,New York
20,0500000US36061,New,153590,170963,389667,381334,1273269,New York
21,0500000US36063,Niagara,50467,50468,20065,16834,151004,New York
22,0500000US36065,Oneida,50510,52412,22461,15430,160501,New York
23,0500000US36067,Onondaga,82238,93280,63638,50344,317164,New York
24,0500000US36069,Ontario,19619,24531,17108,11547,77999,New York
25,0500000US36071,Orange,71246,72797,44360,31454,244723,New York
26,0500000US36075,Oswego,30237,25326,7974,6685,80195,New York
27,0500000US36079,Putnam,20597,18095,14929,12736,71447,New York
28,0500000US36081,Queens,493794,372885,335990,187649,1695302,New York
29,0500000US36083,Rensselaer,31730,34954,20143,15125,111047,New York
...,...,...,...,...,...,...,...,...
808,0500000US55063,La,20730,25815,16682,7423,75844,Wisconsin
809,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin
810,0500000US55073,Marathon,32134,30120,15586,8591,93819,Wisconsin
811,0500000US55079,Milwaukee,188297,177427,121460,72032,630803,Wisconsin
812,0500000US55087,Outagamie,37715,43406,25354,12481,126394,Wisconsin
813,0500000US55089,Ozaukee,11913,15368,19063,12273,61827,Wisconsin
814,0500000US55097,Portage,14238,13174,10847,4081,44911,Wisconsin
815,0500000US55101,Racine,41745,43514,24352,12639,132881,Wisconsin
816,0500000US55105,Rock,40453,36040,16261,7296,110328,Wisconsin
817,0500000US55109,St.,16080,20096,14162,6826,59401,Wisconsin
818,0500000US55117,Sheboygan,27886,26510,14080,6043,79984,Wisconsin
819,0500000US55127,Walworth,20863,20682,13057,7595,68366,Wisconsin
820,0500000US55131,Washington,28287,32968,21264,8337,95324,Wisconsin
821,0500000US55133,Waukesha,64016,79712,85939,42625,282781,Wisconsin
822,0500000US55139,Winnebago,40570,33123,23384,10338,114495,Wisconsin
823,0500000US55141,Wood,19234,18793,6841,4018,52345,Wisconsin
824,0500000US56021,Laramie,17351,25811,10821,8006,67446,Wyoming
825,0500000US56025,Natrona,NaN,NaN,NaN,NaN,NaN,Wyoming
826,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
831,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
832,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
833,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
834,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
835,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
836,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico
837,0100000US,United,60031545,63870412,43585028,27180887,221250083,None

In [17]:
splitFIPS = data2017["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  35043
1  0500000  35045
2  0500000  35049
3  0500000  35061
4  0500000  36001

In [19]:
data2017["Delete"]= splitFIPS[0] 
data2017["FIPS"]=splitFIPS[1]

In [20]:
data2017.drop(columns=['Delete'], inplace = True)

In [21]:
data2017.insert(len(data2017.columns), 'Year', 2017)

In [22]:
data2017.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,35043,Sandoval,26068,33646,16504,11618,97983,New Mexico,2017
1,35045,San,25803,30863,7330,4045,81121,New Mexico,2017
2,35049,Santa,26052,29466,22386,22152,110401,New Mexico,2017
3,35061,Valencia,16557,18725,4633,2838,50650,New Mexico,2017
4,36001,Albany,46290,55943,45295,42571,205266,New York,2017

In [23]:
path = '../dataPoints/education_2017_clean.xlsx'
data2017.to_excel(path,index=False)