In [1]:
import pandas as pd
import numpy as np

In [2]:
data2016_to_load = "../Education/ACSDT1Y2016.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2016_to_load = "../Education/ACSDT1Y2016.B07009_metadata_2019-12-21T130141.csv"

fulldata2016 = pd.read_csv(data2016_to_load)
metadata2016 = pd.read_csv(metadata2016_to_load)

In [3]:
fulldata2016.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US12103,"Pinellas County, Florida",735561,152,69909,4478,206961,6796,243061,7428,...,625,404,1401,731,832,435,419,421,493,339
2,0500000US12105,"Polk County, Florida",461083,461,72503,5570,165401,7377,130424,6032,...,674,458,635,388,1426,707,750,365,421,318
3,0500000US12107,"Putnam County, Florida",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0500000US12109,"St. Johns County, Florida",166186,1205,7164,1701,35736,4022,52134,3868,...,45,104,231,223,167,228,354,438,292,322

In [4]:
data2016 = fulldata2016[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2016 = data2016.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2016.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US12103,"Pinellas County, Florida",206961,243061,141216,74414,735561
2,0500000US12105,"Polk County, Florida",165401,130424,61445,31310,461083
3,0500000US12107,"Putnam County, Florida",NaN,NaN,NaN,NaN,NaN
4,0500000US12109,"St. Johns County, Florida",35736,52134,45345,25807,166186

In [6]:
data2016=data2016.drop(index =0)

In [7]:
data2016=data2016.reset_index(drop=True)

In [8]:
data2016.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US12103,"Pinellas County, Florida",206961,243061,141216,74414,735561
1,0500000US12105,"Polk County, Florida",165401,130424,61445,31310,461083
2,0500000US12107,"Putnam County, Florida",NaN,NaN,NaN,NaN,NaN
3,0500000US12109,"St. Johns County, Florida",35736,52134,45345,25807,166186
4,0500000US12111,"St. Lucie County, Florida",73041,70865,30503,14643,218832

In [9]:
countySplit = data2016["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                  0        1
0   Pinellas County  Florida
1       Polk County  Florida
2     Putnam County  Florida
3  St. Johns County  Florida
4  St. Lucie County  Florida

In [11]:
data2016["County"]= countySplit[0] 
data2016["State"]=countySplit[1]

In [12]:
data2016

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US12103,Pinellas County,206961,243061,141216,74414,735561,Florida
1,0500000US12105,Polk County,165401,130424,61445,31310,461083,Florida
2,0500000US12107,Putnam County,NaN,NaN,NaN,NaN,NaN,Florida
3,0500000US12109,St. Johns County,35736,52134,45345,25807,166186,Florida
4,0500000US12111,St. Lucie County,73041,70865,30503,14643,218832,Florida
5,0500000US12113,Santa Rosa County,31497,43250,21101,11886,119962,Florida
6,0500000US12115,Sarasota County,99454,95597,66311,43942,328503,Florida
7,0500000US12117,Seminole County,68705,114724,77148,41357,320502,Florida
8,0500000US12119,Sumter County,35180,32938,16704,14862,108728,Florida
9,0500000US12127,Volusia County,122815,134522,61614,32773,392036,Florida
10,0500000US12131,Walton County,12158,15793,9337,4128,47812,Florida
11,0500000US13013,Barrow County,17219,15746,5625,3651,50599,Georgia
12,0500000US13015,Bartow County,23540,20766,9575,3979,69782,Georgia
13,0500000US13021,Bibb County,29533,28267,14785,10822,99061,Georgia
14,0500000US13031,Bulloch County,NaN,NaN,NaN,NaN,NaN,Georgia
15,0500000US13045,Carroll County,22986,21550,9631,5822,72598,Georgia
16,0500000US13047,Catoosa County,NaN,NaN,NaN,NaN,NaN,Georgia
17,0500000US13051,Chatham County,45036,65263,40282,21355,193126,Georgia
18,0500000US13057,Cherokee County,35214,50180,43122,17950,161757,Georgia
19,0500000US13059,Clarke County,14696,17598,12415,15676,68541,Georgia
20,0500000US13063,Clayton County,55868,55567,23713,11716,172693,Georgia
21,0500000US13067,Cobb County,90843,130974,147888,84406,498306,Georgia
22,0500000US13073,Columbia County,26000,30392,20336,14308,96831,Georgia
23,0500000US13077,Coweta County,28082,27749,18886,8125,93478,Georgia
24,0500000US13089,DeKalb County,104011,124396,123236,93583,499806,Georgia
25,0500000US13095,Dougherty County,16770,19574,7136,5047,57249,Georgia
26,0500000US13097,Douglas County,28924,27918,15785,8976,91716,Georgia
27,0500000US13113,Fayette County,15439,20196,22544,14665,76341,Georgia
28,0500000US13115,Floyd County,19853,17558,8780,6646,63782,Georgia
29,0500000US13117,Forsyth County,23691,35513,48358,23381,142799,Georgia
...,...,...,...,...,...,...,...,...
802,0500000US55063,La Crosse County,16437,27267,17190,10519,75372,Wisconsin
803,0500000US55071,Manitowoc County,NaN,NaN,NaN,NaN,NaN,Wisconsin
804,0500000US55073,Marathon County,32944,29059,15632,7381,93256,Wisconsin
805,0500000US55079,Milwaukee County,178628,181332,121438,70367,626433,Wisconsin
806,0500000US55087,Outagamie County,39193,43459,23763,10122,124500,Wisconsin
807,0500000US55089,Ozaukee County,13114,16375,17295,12077,61250,Wisconsin
808,0500000US55097,Portage County,13982,14493,10219,4026,45236,Wisconsin
809,0500000US55101,Racine County,46963,41936,20034,10560,132870,Wisconsin
810,0500000US55105,Rock County,37499,37683,15685,8012,109432,Wisconsin
811,0500000US55109,St. Croix County,13731,22590,15090,6198,59386,Wisconsin
812,0500000US55117,Sheboygan County,29073,25697,15125,5524,80642,Wisconsin
813,0500000US55127,Walworth County,21587,21081,12121,7599,67454,Wisconsin
814,0500000US55131,Washington County,27883,32721,20063,8819,94307,Wisconsin
815,0500000US55133,Waukesha County,66421,82677,77931,42221,280191,Wisconsin
816,0500000US55139,Winnebago County,38900,34015,23177,9228,114281,Wisconsin
817,0500000US55141,Wood County,NaN,NaN,NaN,NaN,NaN,Wisconsin
818,0500000US56021,Laramie County,17034,27792,11710,6639,67239,Wyoming
819,0500000US56025,Natrona County,18305,19822,7721,4970,53993,Wyoming
820,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,0500000US72097,MayagÃ¼ez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,0500000US72021,BayamÃ³n Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
831,0100000US,United States,59373780,63355189,42242395,26091882,218475480,None

In [13]:
countyDelete = data2016["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2016["County"]= countyDelete[0] 
data2016["Delete"]=countyDelete[1]

In [15]:
data2016

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US12103,Pinellas,206961,243061,141216,74414,735561,Florida,County
1,0500000US12105,Polk,165401,130424,61445,31310,461083,Florida,County
2,0500000US12107,Putnam,NaN,NaN,NaN,NaN,NaN,Florida,County
3,0500000US12109,St.,35736,52134,45345,25807,166186,Florida,Johns County
4,0500000US12111,St.,73041,70865,30503,14643,218832,Florida,Lucie County
5,0500000US12113,Santa,31497,43250,21101,11886,119962,Florida,Rosa County
6,0500000US12115,Sarasota,99454,95597,66311,43942,328503,Florida,County
7,0500000US12117,Seminole,68705,114724,77148,41357,320502,Florida,County
8,0500000US12119,Sumter,35180,32938,16704,14862,108728,Florida,County
9,0500000US12127,Volusia,122815,134522,61614,32773,392036,Florida,County
10,0500000US12131,Walton,12158,15793,9337,4128,47812,Florida,County
11,0500000US13013,Barrow,17219,15746,5625,3651,50599,Georgia,County
12,0500000US13015,Bartow,23540,20766,9575,3979,69782,Georgia,County
13,0500000US13021,Bibb,29533,28267,14785,10822,99061,Georgia,County
14,0500000US13031,Bulloch,NaN,NaN,NaN,NaN,NaN,Georgia,County
15,0500000US13045,Carroll,22986,21550,9631,5822,72598,Georgia,County
16,0500000US13047,Catoosa,NaN,NaN,NaN,NaN,NaN,Georgia,County
17,0500000US13051,Chatham,45036,65263,40282,21355,193126,Georgia,County
18,0500000US13057,Cherokee,35214,50180,43122,17950,161757,Georgia,County
19,0500000US13059,Clarke,14696,17598,12415,15676,68541,Georgia,County
20,0500000US13063,Clayton,55868,55567,23713,11716,172693,Georgia,County
21,0500000US13067,Cobb,90843,130974,147888,84406,498306,Georgia,County
22,0500000US13073,Columbia,26000,30392,20336,14308,96831,Georgia,County
23,0500000US13077,Coweta,28082,27749,18886,8125,93478,Georgia,County
24,0500000US13089,DeKalb,104011,124396,123236,93583,499806,Georgia,County
25,0500000US13095,Dougherty,16770,19574,7136,5047,57249,Georgia,County
26,0500000US13097,Douglas,28924,27918,15785,8976,91716,Georgia,County
27,0500000US13113,Fayette,15439,20196,22544,14665,76341,Georgia,County
28,0500000US13115,Floyd,19853,17558,8780,6646,63782,Georgia,County
29,0500000US13117,Forsyth,23691,35513,48358,23381,142799,Georgia,County
...,...,...,...,...,...,...,...,...,...
802,0500000US55063,La,16437,27267,17190,10519,75372,Wisconsin,Crosse County
803,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
804,0500000US55073,Marathon,32944,29059,15632,7381,93256,Wisconsin,County
805,0500000US55079,Milwaukee,178628,181332,121438,70367,626433,Wisconsin,County
806,0500000US55087,Outagamie,39193,43459,23763,10122,124500,Wisconsin,County
807,0500000US55089,Ozaukee,13114,16375,17295,12077,61250,Wisconsin,County
808,0500000US55097,Portage,13982,14493,10219,4026,45236,Wisconsin,County
809,0500000US55101,Racine,46963,41936,20034,10560,132870,Wisconsin,County
810,0500000US55105,Rock,37499,37683,15685,8012,109432,Wisconsin,County
811,0500000US55109,St.,13731,22590,15090,6198,59386,Wisconsin,Croix County
812,0500000US55117,Sheboygan,29073,25697,15125,5524,80642,Wisconsin,County
813,0500000US55127,Walworth,21587,21081,12121,7599,67454,Wisconsin,County
814,0500000US55131,Washington,27883,32721,20063,8819,94307,Wisconsin,County
815,0500000US55133,Waukesha,66421,82677,77931,42221,280191,Wisconsin,County
816,0500000US55139,Winnebago,38900,34015,23177,9228,114281,Wisconsin,County
817,0500000US55141,Wood,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
818,0500000US56021,Laramie,17034,27792,11710,6639,67239,Wyoming,County
819,0500000US56025,Natrona,18305,19822,7721,4970,53993,Wyoming,County
820,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
821,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
822,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
823,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
824,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
825,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
826,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
827,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
828,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
829,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
830,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
831,0100000US,United,59373780,63355189,42242395,26091882,218475480,None,States

In [16]:
data2016.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US12103,Pinellas,206961,243061,141216,74414,735561,Florida
1,0500000US12105,Polk,165401,130424,61445,31310,461083,Florida
2,0500000US12107,Putnam,NaN,NaN,NaN,NaN,NaN,Florida
3,0500000US12109,St.,35736,52134,45345,25807,166186,Florida
4,0500000US12111,St.,73041,70865,30503,14643,218832,Florida
5,0500000US12113,Santa,31497,43250,21101,11886,119962,Florida
6,0500000US12115,Sarasota,99454,95597,66311,43942,328503,Florida
7,0500000US12117,Seminole,68705,114724,77148,41357,320502,Florida
8,0500000US12119,Sumter,35180,32938,16704,14862,108728,Florida
9,0500000US12127,Volusia,122815,134522,61614,32773,392036,Florida
10,0500000US12131,Walton,12158,15793,9337,4128,47812,Florida
11,0500000US13013,Barrow,17219,15746,5625,3651,50599,Georgia
12,0500000US13015,Bartow,23540,20766,9575,3979,69782,Georgia
13,0500000US13021,Bibb,29533,28267,14785,10822,99061,Georgia
14,0500000US13031,Bulloch,NaN,NaN,NaN,NaN,NaN,Georgia
15,0500000US13045,Carroll,22986,21550,9631,5822,72598,Georgia
16,0500000US13047,Catoosa,NaN,NaN,NaN,NaN,NaN,Georgia
17,0500000US13051,Chatham,45036,65263,40282,21355,193126,Georgia
18,0500000US13057,Cherokee,35214,50180,43122,17950,161757,Georgia
19,0500000US13059,Clarke,14696,17598,12415,15676,68541,Georgia
20,0500000US13063,Clayton,55868,55567,23713,11716,172693,Georgia
21,0500000US13067,Cobb,90843,130974,147888,84406,498306,Georgia
22,0500000US13073,Columbia,26000,30392,20336,14308,96831,Georgia
23,0500000US13077,Coweta,28082,27749,18886,8125,93478,Georgia
24,0500000US13089,DeKalb,104011,124396,123236,93583,499806,Georgia
25,0500000US13095,Dougherty,16770,19574,7136,5047,57249,Georgia
26,0500000US13097,Douglas,28924,27918,15785,8976,91716,Georgia
27,0500000US13113,Fayette,15439,20196,22544,14665,76341,Georgia
28,0500000US13115,Floyd,19853,17558,8780,6646,63782,Georgia
29,0500000US13117,Forsyth,23691,35513,48358,23381,142799,Georgia
...,...,...,...,...,...,...,...,...
802,0500000US55063,La,16437,27267,17190,10519,75372,Wisconsin
803,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin
804,0500000US55073,Marathon,32944,29059,15632,7381,93256,Wisconsin
805,0500000US55079,Milwaukee,178628,181332,121438,70367,626433,Wisconsin
806,0500000US55087,Outagamie,39193,43459,23763,10122,124500,Wisconsin
807,0500000US55089,Ozaukee,13114,16375,17295,12077,61250,Wisconsin
808,0500000US55097,Portage,13982,14493,10219,4026,45236,Wisconsin
809,0500000US55101,Racine,46963,41936,20034,10560,132870,Wisconsin
810,0500000US55105,Rock,37499,37683,15685,8012,109432,Wisconsin
811,0500000US55109,St.,13731,22590,15090,6198,59386,Wisconsin
812,0500000US55117,Sheboygan,29073,25697,15125,5524,80642,Wisconsin
813,0500000US55127,Walworth,21587,21081,12121,7599,67454,Wisconsin
814,0500000US55131,Washington,27883,32721,20063,8819,94307,Wisconsin
815,0500000US55133,Waukesha,66421,82677,77931,42221,280191,Wisconsin
816,0500000US55139,Winnebago,38900,34015,23177,9228,114281,Wisconsin
817,0500000US55141,Wood,NaN,NaN,NaN,NaN,NaN,Wisconsin
818,0500000US56021,Laramie,17034,27792,11710,6639,67239,Wyoming
819,0500000US56025,Natrona,18305,19822,7721,4970,53993,Wyoming
820,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico
831,0100000US,United,59373780,63355189,42242395,26091882,218475480,None

In [17]:
splitFIPS = data2016["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  12103
1  0500000  12105
2  0500000  12107
3  0500000  12109
4  0500000  12111

In [19]:
data2016["Delete"]= splitFIPS[0] 
data2016["FIPS"]=splitFIPS[1]

In [20]:
data2016.drop(columns=['Delete'], inplace = True)

In [21]:
data2016.insert(len(data2016.columns), 'Year', 2016)

In [22]:
data2016.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,12103,Pinellas,206961,243061,141216,74414,735561,Florida,2016
1,12105,Polk,165401,130424,61445,31310,461083,Florida,2016
2,12107,Putnam,NaN,NaN,NaN,NaN,NaN,Florida,2016
3,12109,St.,35736,52134,45345,25807,166186,Florida,2016
4,12111,St.,73041,70865,30503,14643,218832,Florida,2016

In [23]:
path = '../dataPoints/education_2016_clean.csv'
data2016.to_csv(path,index=False)