In [1]:
import pandas as pd
import numpy as np

In [2]:
data2016_to_load = "../Education/ACSDT1Y2016.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2016_to_load = "../Education/ACSDT1Y2016.B07009_metadata_2019-12-21T130141.csv"

fulldata2016 = pd.read_csv(data2016_to_load)
metadata2016 = pd.read_csv(metadata2016_to_load)

In [3]:
fulldata2016.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US12103,"Pinellas County, Florida",735561,152,69909,4478,206961,6796,243061,7428,...,625,404,1401,731,832,435,419,421,493,339
2,0500000US12105,"Polk County, Florida",461083,461,72503,5570,165401,7377,130424,6032,...,674,458,635,388,1426,707,750,365,421,318
3,0500000US12107,"Putnam County, Florida",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0500000US12109,"St. Johns County, Florida",166186,1205,7164,1701,35736,4022,52134,3868,...,45,104,231,223,167,228,354,438,292,322

In [4]:
data2016 = fulldata2016[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2016 = data2016.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2016.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US12103,"Pinellas County, Florida",206961,243061,141216,74414,735561
2,0500000US12105,"Polk County, Florida",165401,130424,61445,31310,461083
3,0500000US12107,"Putnam County, Florida",NaN,NaN,NaN,NaN,NaN
4,0500000US12109,"St. Johns County, Florida",35736,52134,45345,25807,166186

In [6]:
data2016=data2016.drop(index =0)

In [7]:
data2016=data2016.reset_index(drop=True)

In [8]:
data2016.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US12103,"Pinellas County, Florida",206961,243061,141216,74414,735561
1,0500000US12105,"Polk County, Florida",165401,130424,61445,31310,461083
2,0500000US12107,"Putnam County, Florida",NaN,NaN,NaN,NaN,NaN
3,0500000US12109,"St. Johns County, Florida",35736,52134,45345,25807,166186
4,0500000US12111,"St. Lucie County, Florida",73041,70865,30503,14643,218832

In [9]:
countySplit = data2016["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                  0        1
0   Pinellas County  Florida
1       Polk County  Florida
2     Putnam County  Florida
3  St. Johns County  Florida
4  St. Lucie County  Florida

In [11]:
data2016["County"]= countySplit[0] 
data2016["State"]=countySplit[1]

In [12]:
data2016

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US12103,Pinellas County,206961,243061,141216,74414,735561,Florida
1,0500000US12105,Polk County,165401,130424,61445,31310,461083,Florida
2,0500000US12107,Putnam County,NaN,NaN,NaN,NaN,NaN,Florida
3,0500000US12109,St. Johns County,35736,52134,45345,25807,166186,Florida
4,0500000US12111,St. Lucie County,73041,70865,30503,14643,218832,Florida
5,0500000US12113,Santa Rosa County,31497,43250,21101,11886,119962,Florida
6,0500000US12115,Sarasota County,99454,95597,66311,43942,328503,Florida
7,0500000US12117,Seminole County,68705,114724,77148,41357,320502,Florida
8,0500000US12119,Sumter County,35180,32938,16704,14862,108728,Florida
9,0500000US12127,Volusia County,122815,134522,61614,32773,392036,Florida
10,0500000US12131,Walton County,12158,15793,9337,4128,47812,Florida
11,0500000US13013,Barrow County,17219,15746,5625,3651,50599,Georgia
12,0500000US13015,Bartow County,23540,20766,9575,3979,69782,Georgia
13,0500000US13021,Bibb County,29533,28267,14785,10822,99061,Georgia
14,0500000US13031,Bulloch County,NaN,NaN,NaN,NaN,NaN,Georgia
15,0500000US13045,Carroll County,22986,21550,9631,5822,72598,Georgia
16,0500000US13047,Catoosa County,NaN,NaN,NaN,NaN,NaN,Georgia
17,0500000US13051,Chatham County,45036,65263,40282,21355,193126,Georgia
18,0500000US13057,Cherokee County,35214,50180,43122,17950,161757,Georgia
19,0500000US13059,Clarke County,14696,17598,12415,15676,68541,Georgia
20,0500000US13063,Clayton County,55868,55567,23713,11716,172693,Georgia
21,0500000US13067,Cobb County,90843,130974,147888,84406,498306,Georgia
22,0500000US13073,Columbia County,26000,30392,20336,14308,96831,Georgia
23,0500000US13077,Coweta County,28082,27749,18886,8125,93478,Georgia
24,0500000US13089,DeKalb County,104011,124396,123236,93583,499806,Georgia
25,0500000US13095,Dougherty County,16770,19574,7136,5047,57249,Georgia
26,0500000US13097,Douglas County,28924,27918,15785,8976,91716,Georgia
27,0500000US13113,Fayette County,15439,20196,22544,14665,76341,Georgia
28,0500000US13115,Floyd County,19853,17558,8780,6646,63782,Georgia
29,0500000US13117,Forsyth County,23691,35513,48358,23381,142799,Georgia
...,...,...,...,...,...,...,...,...
802,0500000US55063,La Crosse County,16437,27267,17190,10519,75372,Wisconsin
803,0500000US55071,Manitowoc County,NaN,NaN,NaN,NaN,NaN,Wisconsin
804,0500000US55073,Marathon County,32944,29059,15632,7381,93256,Wisconsin
805,0500000US55079,Milwaukee County,178628,181332,121438,70367,626433,Wisconsin
806,0500000US55087,Outagamie County,39193,43459,23763,10122,124500,Wisconsin
807,0500000US55089,Ozaukee County,13114,16375,17295,12077,61250,Wisconsin
808,0500000US55097,Portage County,13982,14493,10219,4026,45236,Wisconsin
809,0500000US55101,Racine County,46963,41936,20034,10560,132870,Wisconsin
810,0500000US55105,Rock County,37499,37683,15685,8012,109432,Wisconsin
811,0500000US55109,St. Croix County,13731,22590,15090,6198,59386,Wisconsin
812,0500000US55117,Sheboygan County,29073,25697,15125,5524,80642,Wisconsin
813,0500000US55127,Walworth County,21587,21081,12121,7599,67454,Wisconsin
814,0500000US55131,Washington County,27883,32721,20063,8819,94307,Wisconsin
815,0500000US55133,Waukesha County,66421,82677,77931,42221,280191,Wisconsin
816,0500000US55139,Winnebago County,38900,34015,23177,9228,114281,Wisconsin
817,0500000US55141,Wood County,NaN,NaN,NaN,NaN,NaN,Wisconsin
818,0500000US56021,Laramie County,17034,27792,11710,6639,67239,Wyoming
819,0500000US56025,Natrona County,18305,19822,7721,4970,53993,Wyoming
820,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,0500000US72097,MayagÃ¼ez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,0500000US72021,BayamÃ³n Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
831,0100000US,United States,59373780,63355189,42242395,26091882,218475480,None

In [13]:
countyDelete = data2016["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2016["County"]= countyDelete[0] 
data2016["Delete"]=countyDelete[1]

In [15]:
data2016

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US12103,Pinellas,206961,243061,141216,74414,735561,Florida,County
1,0500000US12105,Polk,165401,130424,61445,31310,461083,Florida,County
2,0500000US12107,Putnam,NaN,NaN,NaN,NaN,NaN,Florida,County
3,0500000US12109,St.,35736,52134,45345,25807,166186,Florida,Johns County
4,0500000US12111,St.,73041,70865,30503,14643,218832,Florida,Lucie County
5,0500000US12113,Santa,31497,43250,21101,11886,119962,Florida,Rosa County
6,0500000US12115,Sarasota,99454,95597,66311,43942,328503,Florida,County
7,0500000US12117,Seminole,68705,114724,77148,41357,320502,Florida,County
8,0500000US12119,Sumter,35180,32938,16704,14862,108728,Florida,County
9,0500000US12127,Volusia,122815,134522,61614,32773,392036,Florida,County
10,0500000US12131,Walton,12158,15793,9337,4128,47812,Florida,County
11,0500000US13013,Barrow,17219,15746,5625,3651,50599,Georgia,County
12,0500000US13015,Bartow,23540,20766,9575,3979,69782,Georgia,County
13,0500000US13021,Bibb,29533,28267,14785,10822,99061,Georgia,County
14,0500000US13031,Bulloch,NaN,NaN,NaN,NaN,NaN,Georgia,County
15,0500000US13045,Carroll,22986,21550,9631,5822,72598,Georgia,County
16,0500000US13047,Catoosa,NaN,NaN,NaN,NaN,NaN,Georgia,County
17,0500000US13051,Chatham,45036,65263,40282,21355,193126,Georgia,County
18,0500000US13057,Cherokee,35214,50180,43122,17950,161757,Georgia,County
19,0500000US13059,Clarke,14696,17598,12415,15676,68541,Georgia,County
20,0500000US13063,Clayton,55868,55567,23713,11716,172693,Georgia,County
21,0500000US13067,Cobb,90843,130974,147888,84406,498306,Georgia,County
22,0500000US13073,Columbia,26000,30392,20336,14308,96831,Georgia,County
23,0500000US13077,Coweta,28082,27749,18886,8125,93478,Georgia,County
24,0500000US13089,DeKalb,104011,124396,123236,93583,499806,Georgia,County
25,0500000US13095,Dougherty,16770,19574,7136,5047,57249,Georgia,County
26,0500000US13097,Douglas,28924,27918,15785,8976,91716,Georgia,County
27,0500000US13113,Fayette,15439,20196,22544,14665,76341,Georgia,County
28,0500000US13115,Floyd,19853,17558,8780,6646,63782,Georgia,County
29,0500000US13117,Forsyth,23691,35513,48358,23381,142799,Georgia,County
...,...,...,...,...,...,...,...,...,...
802,0500000US55063,La,16437,27267,17190,10519,75372,Wisconsin,Crosse County
803,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
804,0500000US55073,Marathon,32944,29059,15632,7381,93256,Wisconsin,County
805,0500000US55079,Milwaukee,178628,181332,121438,70367,626433,Wisconsin,County
806,0500000US55087,Outagamie,39193,43459,23763,10122,124500,Wisconsin,County
807,0500000US55089,Ozaukee,13114,16375,17295,12077,61250,Wisconsin,County
808,0500000US55097,Portage,13982,14493,10219,4026,45236,Wisconsin,County
809,0500000US55101,Racine,46963,41936,20034,10560,132870,Wisconsin,County
810,0500000US55105,Rock,37499,37683,15685,8012,109432,Wisconsin,County
811,0500000US55109,St.,13731,22590,15090,6198,59386,Wisconsin,Croix County
812,0500000US55117,Sheboygan,29073,25697,15125,5524,80642,Wisconsin,County
813,0500000US55127,Walworth,21587,21081,12121,7599,67454,Wisconsin,County
814,0500000US55131,Washington,27883,32721,20063,8819,94307,Wisconsin,County
815,0500000US55133,Waukesha,66421,82677,77931,42221,280191,Wisconsin,County
816,0500000US55139,Winnebago,38900,34015,23177,9228,114281,Wisconsin,County
817,0500000US55141,Wood,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
818,0500000US56021,Laramie,17034,27792,11710,6639,67239,Wyoming,County
819,0500000US56025,Natrona,18305,19822,7721,4970,53993,Wyoming,County
820,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
821,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
822,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
823,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
824,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
825,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
826,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
827,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
828,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
829,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
830,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
831,0100000US,United,59373780,63355189,42242395,26091882,218475480,None,States

In [16]:
data2016.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US12103,Pinellas,206961,243061,141216,74414,735561,Florida
1,0500000US12105,Polk,165401,130424,61445,31310,461083,Florida
2,0500000US12107,Putnam,NaN,NaN,NaN,NaN,NaN,Florida
3,0500000US12109,St.,35736,52134,45345,25807,166186,Florida
4,0500000US12111,St.,73041,70865,30503,14643,218832,Florida
5,0500000US12113,Santa,31497,43250,21101,11886,119962,Florida
6,0500000US12115,Sarasota,99454,95597,66311,43942,328503,Florida
7,0500000US12117,Seminole,68705,114724,77148,41357,320502,Florida
8,0500000US12119,Sumter,35180,32938,16704,14862,108728,Florida
9,0500000US12127,Volusia,122815,134522,61614,32773,392036,Florida
10,0500000US12131,Walton,12158,15793,9337,4128,47812,Florida
11,0500000US13013,Barrow,17219,15746,5625,3651,50599,Georgia
12,0500000US13015,Bartow,23540,20766,9575,3979,69782,Georgia
13,0500000US13021,Bibb,29533,28267,14785,10822,99061,Georgia
14,0500000US13031,Bulloch,NaN,NaN,NaN,NaN,NaN,Georgia
15,0500000US13045,Carroll,22986,21550,9631,5822,72598,Georgia
16,0500000US13047,Catoosa,NaN,NaN,NaN,NaN,NaN,Georgia
17,0500000US13051,Chatham,45036,65263,40282,21355,193126,Georgia
18,0500000US13057,Cherokee,35214,50180,43122,17950,161757,Georgia
19,0500000US13059,Clarke,14696,17598,12415,15676,68541,Georgia
20,0500000US13063,Clayton,55868,55567,23713,11716,172693,Georgia
21,0500000US13067,Cobb,90843,130974,147888,84406,498306,Georgia
22,0500000US13073,Columbia,26000,30392,20336,14308,96831,Georgia
23,0500000US13077,Coweta,28082,27749,18886,8125,93478,Georgia
24,0500000US13089,DeKalb,104011,124396,123236,93583,499806,Georgia
25,0500000US13095,Dougherty,16770,19574,7136,5047,57249,Georgia
26,0500000US13097,Douglas,28924,27918,15785,8976,91716,Georgia
27,0500000US13113,Fayette,15439,20196,22544,14665,76341,Georgia
28,0500000US13115,Floyd,19853,17558,8780,6646,63782,Georgia
29,0500000US13117,Forsyth,23691,35513,48358,23381,142799,Georgia
...,...,...,...,...,...,...,...,...
802,0500000US55063,La,16437,27267,17190,10519,75372,Wisconsin
803,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin
804,0500000US55073,Marathon,32944,29059,15632,7381,93256,Wisconsin
805,0500000US55079,Milwaukee,178628,181332,121438,70367,626433,Wisconsin
806,0500000US55087,Outagamie,39193,43459,23763,10122,124500,Wisconsin
807,0500000US55089,Ozaukee,13114,16375,17295,12077,61250,Wisconsin
808,0500000US55097,Portage,13982,14493,10219,4026,45236,Wisconsin
809,0500000US55101,Racine,46963,41936,20034,10560,132870,Wisconsin
810,0500000US55105,Rock,37499,37683,15685,8012,109432,Wisconsin
811,0500000US55109,St.,13731,22590,15090,6198,59386,Wisconsin
812,0500000US55117,Sheboygan,29073,25697,15125,5524,80642,Wisconsin
813,0500000US55127,Walworth,21587,21081,12121,7599,67454,Wisconsin
814,0500000US55131,Washington,27883,32721,20063,8819,94307,Wisconsin
815,0500000US55133,Waukesha,66421,82677,77931,42221,280191,Wisconsin
816,0500000US55139,Winnebago,38900,34015,23177,9228,114281,Wisconsin
817,0500000US55141,Wood,NaN,NaN,NaN,NaN,NaN,Wisconsin
818,0500000US56021,Laramie,17034,27792,11710,6639,67239,Wyoming
819,0500000US56025,Natrona,18305,19822,7721,4970,53993,Wyoming
820,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
826,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
829,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
830,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico
831,0100000US,United,59373780,63355189,42242395,26091882,218475480,None

In [17]:
splitFIPS = data2016["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  12103
1  0500000  12105
2  0500000  12107
3  0500000  12109
4  0500000  12111

In [19]:
data2016["Delete"]= splitFIPS[0] 
data2016["FIPS"]=splitFIPS[1]

In [20]:
data2016.drop(columns=['Delete'], inplace = True)

In [21]:
data2016.insert(len(data2016.columns), 'Year', 2016)

In [22]:
data2016.dropna(inplace = True)

In [23]:
data2016.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,12103,Pinellas,206961,243061,141216,74414,735561,Florida,2016
1,12105,Polk,165401,130424,61445,31310,461083,Florida,2016
3,12109,St.,35736,52134,45345,25807,166186,Florida,2016
4,12111,St.,73041,70865,30503,14643,218832,Florida,2016
5,12113,Santa,31497,43250,21101,11886,119962,Florida,2016

In [24]:
path = '../dataPoints/education_2016_clean.xlsx'
data2016.to_excel(path,index=False)

In [25]:
year5_to_load = "../Education/5Year/ACSDT5Y2016.B06009_data_with_overlays_2020-01-06T222644.csv"
metadata5_to_load = "../Education/5Year/ACSDT5Y2016.B06009_metadata_2020-01-06T222644.csv"

year5 = pd.read_csv(year5_to_load)
metadata2016 = pd.read_csv(metadata5_to_load)

In [26]:
year5 = year5[['GEO_ID',"NAME","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B06009_001E"]]

year5 = year5.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B06009_002E":"Less Than High School Graduate",
                                        "B06009_003E":"High school graduate (includes equivalency)",
                                        "B06009_004E":"Some college or associate's degree",
                                        "B06009_005E":"Bachelor's degree",
                                        "B06009_006E":"Graduate or professional degree","B06009_001E":"Total"})

In [27]:
year5=year5.drop(index =0)

In [28]:
year5=year5.reset_index(drop=True)

In [29]:
year5.insert(len(year5.columns), 'Year', 2016)

In [30]:
countySplit = year5["County"].str.split(", ", n = 1, expand = True)

In [31]:
year5["County"]= countySplit[0] 
year5["State"]=countySplit[1]

In [32]:
countyDelete = year5["County"].str.split(" ", n = 1, expand = True)

In [33]:
year5["County"]= countyDelete[0] 
year5["Delete"]=countyDelete[1]

In [34]:
year5.drop(columns=['Delete'], inplace = True)

In [35]:
splitFIPS = year5["FIPS"].str.split("US", n = 1, expand = True)

In [36]:
year5["Delete"]= splitFIPS[0] 
year5["FIPS"]=splitFIPS[1]

In [37]:
year5.drop(columns=['Delete'], inplace = True)

In [38]:
year5 = year5[year5.County != 'United']

In [39]:
missing16=year5[~year5.FIPS.isin(data2016.FIPS)]
list(missing16.columns.values)

['FIPS',
 'County',
 'High school graduate (includes equivalency)',
 "Some college or associate's degree",
 "Bachelor's degree",
 'Graduate or professional degree',
 'Total',
 'Year',
 'State']

In [40]:
missing16

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,Year,State
0,05015,Carroll,6804,6075,2157,1289,19478,2016,Arkansas
1,05017,Chicot,3248,1925,718,297,7728,2016,Arkansas
2,05019,Clark,4056,4067,2010,1238,13141,2016,Arkansas
3,05021,Clay,4586,2741,775,452,10812,2016,Arkansas
4,05023,Cleburne,7188,5598,1817,1078,18821,2016,Arkansas
5,05025,Cleveland,2529,1525,594,313,5760,2016,Arkansas
6,05027,Columbia,5901,3612,2240,1056,15040,2016,Arkansas
7,05029,Conway,6140,3738,1641,815,14516,2016,Arkansas
9,05033,Crawford,16556,13153,3906,1706,41418,2016,Arkansas
10,05035,Crittenden,11049,8945,3688,1713,31056,2016,Arkansas
11,05037,Cross,5107,2543,1047,665,11608,2016,Arkansas
12,05039,Dallas,2640,1180,503,182,5399,2016,Arkansas
13,05041,Desha,3179,1863,726,330,8010,2016,Arkansas
14,05043,Drew,4273,2881,1572,725,11575,2016,Arkansas
16,05047,Franklin,4916,3288,1125,442,12041,2016,Arkansas
17,05049,Fulton,3624,2869,605,378,8909,2016,Arkansas
19,05053,Grant,5149,3537,1619,836,12376,2016,Arkansas
20,05055,Greene,12468,7493,3262,1508,29009,2016,Arkansas
21,05057,Hempstead,5612,4146,1173,691,14775,2016,Arkansas
22,05059,Hot,9773,7226,2021,1145,23482,2016,Arkansas
23,05061,Howard,3063,2706,945,482,9063,2016,Arkansas
24,05063,Independence,9387,7335,2815,1591,25007,2016,Arkansas
25,05065,Izard,4083,3091,839,402,10025,2016,Arkansas
26,05067,Jackson,5284,3253,766,320,12561,2016,Arkansas
28,05071,Johnson,7348,3405,1813,905,17050,2016,Arkansas
29,05073,Lafayette,2169,1208,551,143,5074,2016,Arkansas
30,05075,Lawrence,4707,3108,969,565,11438,2016,Arkansas
31,05077,Lee,2675,1566,368,198,6939,2016,Arkansas
32,05079,Lincoln,5061,2116,570,216,10073,2016,Arkansas
33,05081,Little,3620,3185,672,195,8921,2016,Arkansas
...,...,...,...,...,...,...,...,...,...
3190,72123,Salinas,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3191,72127,San,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3192,72129,San,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3193,72133,Santa,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3194,72135,Toa,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3195,72137,Toa,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3196,72139,Trujillo,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3197,72141,Utuado,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3198,72143,Vega,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3199,72145,Vega,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3200,72147,Vieques,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3201,72149,Villalba,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3202,72151,Yabucoa,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3203,72153,Yauco,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3204,72111,PeÃ±uelas,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3205,72117,RincÃ³n,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3206,72011,AÃ±asco,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3207,72083,Las,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3208,72055,GuÃ¡nica,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3209,72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3210,72045,ComerÃ­o,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3211,72125,San,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3212,72087,LoÃ­za,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3213,72131,San,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3214,72033,CataÃ±o,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3215,72091,ManatÃ­,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3216,72075,Juana,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3217,72119,RÃ­o,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3218,72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico
3219,72029,CanÃ³vanas,NaN,NaN,NaN,NaN,NaN,2016,Puerto Rico

In [41]:
missing16[missing16['County']=="Putnam"]

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,Year,State
373,12107,Putnam,19472,14012,4228,2231,50941,2016,Florida
503,13237,Putnam,5896,4250,1898,924,15427,2016,Georgia
672,17155,Putnam,1659,1574,403,200,4188,2016,Illinois
825,18133,Putnam,10335,7907,2129,1609,24863,2016,Indiana
1202,29171,Putnam,1378,1025,424,209,3432,2016,Missouri
1926,36079,Putnam,18806,18697,15744,11419,69769,2016,New York
2172,39137,Putnam,9544,7021,2711,1661,22548,2016,Ohio
3031,54079,Putnam,15255,11432,5854,4121,39868,2016,West Virginia

In [42]:
years = (data2016,missing16)

In [43]:
merging16 = pd.concat(years)

C:\Users\dfire\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [44]:
merging16

,Bachelor's degree,County,FIPS,Graduate or professional degree,High school graduate (includes equivalency),Some college or associate's degree,State,Total,Year
0,141216,Pinellas,12103,74414,206961,243061,Florida,735561,2016
1,61445,Polk,12105,31310,165401,130424,Florida,461083,2016
3,45345,St.,12109,25807,35736,52134,Florida,166186,2016
4,30503,St.,12111,14643,73041,70865,Florida,218832,2016
5,21101,Santa,12113,11886,31497,43250,Florida,119962,2016
6,66311,Sarasota,12115,43942,99454,95597,Florida,328503,2016
7,77148,Seminole,12117,41357,68705,114724,Florida,320502,2016
8,16704,Sumter,12119,14862,35180,32938,Florida,108728,2016
9,61614,Volusia,12127,32773,122815,134522,Florida,392036,2016
10,9337,Walton,12131,4128,12158,15793,Florida,47812,2016
11,5625,Barrow,13013,3651,17219,15746,Georgia,50599,2016
12,9575,Bartow,13015,3979,23540,20766,Georgia,69782,2016
13,14785,Bibb,13021,10822,29533,28267,Georgia,99061,2016
15,9631,Carroll,13045,5822,22986,21550,Georgia,72598,2016
17,40282,Chatham,13051,21355,45036,65263,Georgia,193126,2016
18,43122,Cherokee,13057,17950,35214,50180,Georgia,161757,2016
19,12415,Clarke,13059,15676,14696,17598,Georgia,68541,2016
20,23713,Clayton,13063,11716,55868,55567,Georgia,172693,2016
21,147888,Cobb,13067,84406,90843,130974,Georgia,498306,2016
22,20336,Columbia,13073,14308,26000,30392,Georgia,96831,2016
23,18886,Coweta,13077,8125,28082,27749,Georgia,93478,2016
24,123236,DeKalb,13089,93583,104011,124396,Georgia,499806,2016
25,7136,Dougherty,13095,5047,16770,19574,Georgia,57249,2016
26,15785,Douglas,13097,8976,28924,27918,Georgia,91716,2016
27,22544,Fayette,13113,14665,15439,20196,Georgia,76341,2016
28,8780,Floyd,13115,6646,19853,17558,Georgia,63782,2016
29,48358,Forsyth,13117,23381,23691,35513,Georgia,142799,2016
30,207502,Fulton,13121,144993,125877,154622,Georgia,687737,2016
31,10763,Glynn,13127,5297,15176,18179,Georgia,58184,2016
32,130744,Gwinnett,13135,68719,132550,172483,Georgia,575081,2016
...,...,...,...,...,...,...,...,...,...
3190,NaN,Salinas,72123,NaN,NaN,NaN,Puerto Rico,NaN,2016
3191,NaN,San,72127,NaN,NaN,NaN,Puerto Rico,NaN,2016
3192,NaN,San,72129,NaN,NaN,NaN,Puerto Rico,NaN,2016
3193,NaN,Santa,72133,NaN,NaN,NaN,Puerto Rico,NaN,2016
3194,NaN,Toa,72135,NaN,NaN,NaN,Puerto Rico,NaN,2016
3195,NaN,Toa,72137,NaN,NaN,NaN,Puerto Rico,NaN,2016
3196,NaN,Trujillo,72139,NaN,NaN,NaN,Puerto Rico,NaN,2016
3197,NaN,Utuado,72141,NaN,NaN,NaN,Puerto Rico,NaN,2016
3198,NaN,Vega,72143,NaN,NaN,NaN,Puerto Rico,NaN,2016
3199,NaN,Vega,72145,NaN,NaN,NaN,Puerto Rico,NaN,2016
3200,NaN,Vieques,72147,NaN,NaN,NaN,Puerto Rico,NaN,2016
3201,NaN,Villalba,72149,NaN,NaN,NaN,Puerto Rico,NaN,2016
3202,NaN,Yabucoa,72151,NaN,NaN,NaN,Puerto Rico,NaN,2016
3203,NaN,Yauco,72153,NaN,NaN,NaN,Puerto Rico,NaN,2016
3204,NaN,PeÃ±uelas,72111,NaN,NaN,NaN,Puerto Rico,NaN,2016
3205,NaN,RincÃ³n,72117,NaN,NaN,NaN,Puerto Rico,NaN,2016
3206,NaN,AÃ±asco,72011,NaN,NaN,NaN,Puerto Rico,NaN,2016
3207,NaN,Las,72083,NaN,NaN,NaN,Puerto Rico,NaN,2016
3208,NaN,GuÃ¡nica,72055,NaN,NaN,NaN,Puerto Rico,NaN,2016
3209,NaN,MayagÃ¼ez,72097,NaN,NaN,NaN,Puerto Rico,NaN,2016
3210,NaN,ComerÃ­o,72045,NaN,NaN,NaN,Puerto Rico,NaN,2016
3211,NaN,San,72125,NaN,NaN,NaN,Puerto Rico,NaN,2016
3212,NaN,LoÃ­za,72087,NaN,NaN,NaN,Puerto Rico,NaN,2016
3213,NaN,San,72131,NaN,NaN,NaN,Puerto Rico,NaN,2016
3214,NaN,CataÃ±o,72033,NaN,NaN,NaN,Puerto Rico,NaN,2016
3215,NaN,ManatÃ­,72091,NaN,NaN,NaN,Puerto Rico,NaN,2016
3216,NaN,Juana,72075,NaN,NaN,NaN,Puerto Rico,NaN,2016
3217,NaN,RÃ­o,72119,NaN,NaN,NaN,Puerto Rico,NaN,2016
3218,NaN,BayamÃ³n,72021,NaN,NaN,NaN,Puerto Rico,NaN,2016
3219,NaN,CanÃ³vanas,72029,NaN,NaN,NaN,Puerto Rico,NaN,2016

In [45]:
path = '../dataPoints/education_2016_merged.xlsx'
merging16.to_excel(path,index=False)