In [1]:
import pandas as pd
import numpy as np

In [2]:
data2012_to_load = "../Education/ACSDT1Y2012.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2012_to_load = "../Education/ACSDT1Y2012.B07009_metadata_2019-12-21T130141.csv"

fulldata2012 = pd.read_csv(data2012_to_load)
metadata2012 = pd.read_csv(metadata2012_to_load)

In [3]:
fulldata2012.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US27013,"Blue Earth County, Minnesota",38076,349,1910,533,10872,1155,12539,1022,...,0,139,7,11,0,139,7,13,0,139
2,0500000US27019,"Carver County, Minnesota",59992,598,3283,958,12971,1564,17609,1972,...,53,90,0,139,209,169,41,52,0,139
3,0500000US27037,"Dakota County, Minnesota",271925,804,14490,2119,58194,2885,93310,3939,...,92,153,135,167,158,135,676,477,50,96
4,0500000US27053,"Hennepin County, Minnesota",807164,355,59364,3523,147072,5391,222575,5402,...,630,349,466,229,1393,587,2319,779,1580,711

In [4]:
data2012 = fulldata2012[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2012 = data2012.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2012.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US27013,"Blue Earth County, Minnesota",10872,12539,8641,4114,38076
2,0500000US27019,"Carver County, Minnesota",12971,17609,18650,7479,59992
3,0500000US27037,"Dakota County, Minnesota",58194,93310,75188,30743,271925
4,0500000US27053,"Hennepin County, Minnesota",147072,222575,245622,132531,807164

In [6]:
data2012=data2012.drop(index =0)

In [7]:
data2012=data2012.reset_index(drop=True)

In [8]:
data2012.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US27013,"Blue Earth County, Minnesota",10872,12539,8641,4114,38076
1,0500000US27019,"Carver County, Minnesota",12971,17609,18650,7479,59992
2,0500000US27037,"Dakota County, Minnesota",58194,93310,75188,30743,271925
3,0500000US27053,"Hennepin County, Minnesota",147072,222575,245622,132531,807164
4,0500000US27109,"Olmsted County, Minnesota",20925,32675,24558,14690,98846

In [9]:
countySplit = data2012["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                   0          1
0  Blue Earth County  Minnesota
1      Carver County  Minnesota
2      Dakota County  Minnesota
3    Hennepin County  Minnesota
4     Olmsted County  Minnesota

In [11]:
data2012["County"]= countySplit[0] 
data2012["State"]=countySplit[1]

In [12]:
data2012

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US27013,Blue Earth County,10872,12539,8641,4114,38076,Minnesota
1,0500000US27019,Carver County,12971,17609,18650,7479,59992,Minnesota
2,0500000US27037,Dakota County,58194,93310,75188,30743,271925,Minnesota
3,0500000US27053,Hennepin County,147072,222575,245622,132531,807164,Minnesota
4,0500000US27109,Olmsted County,20925,32675,24558,14690,98846,Minnesota
5,0500000US27123,Ramsey County,77198,96530,80611,53376,339301,Minnesota
6,0500000US27137,St. Louis County,40987,50093,24920,11809,135979,Minnesota
7,0500000US27139,Scott County,19420,27845,26406,8652,86914,Minnesota
8,0500000US27141,Sherburne County,NaN,NaN,NaN,NaN,NaN,Minnesota
9,0500000US27145,Stearns County,28745,33622,15921,8176,94570,Minnesota
10,0500000US27163,Washington County,34418,53476,45386,23666,163400,Minnesota
11,0500000US27171,Wright County,25005,30288,17023,4345,81420,Minnesota
12,0500000US28033,DeSoto County,31373,40890,15546,7663,106647,Mississippi
13,0500000US28035,Forrest County,NaN,NaN,NaN,NaN,NaN,Mississippi
14,0500000US28047,Harrison County,38146,46122,15578,10699,126002,Mississippi
15,0500000US28049,Hinds County,37705,54310,23347,17058,154179,Mississippi
16,0500000US28059,Jackson County,NaN,NaN,NaN,NaN,NaN,Mississippi
17,0500000US28067,Jones County,NaN,NaN,NaN,NaN,NaN,Mississippi
18,0500000US28075,Lauderdale County,15748,19277,6596,3206,52142,Mississippi
19,0500000US28081,Lee County,15986,17232,7693,4594,54929,Mississippi
20,0500000US28089,Madison County,10472,15781,17651,13009,63190,Mississippi
21,0500000US28121,Rankin County,30474,26888,19406,11385,98074,Mississippi
22,0500000US29019,Boone County,18636,25642,27003,20679,96974,Missouri
23,0500000US29021,Buchanan County,19720,16461,9117,3488,58522,Missouri
24,0500000US29031,Cape Girardeau County,16802,13496,9603,4655,49518,Missouri
25,0500000US29037,Cass County,25026,20520,10100,5843,66845,Missouri
26,0500000US29043,Christian County,16268,17679,9702,3442,52304,Missouri
27,0500000US29047,Clay County,42661,48402,32191,15901,151879,Missouri
28,0500000US29051,Cole County,NaN,NaN,NaN,NaN,NaN,Missouri
29,0500000US29071,Franklin County,NaN,NaN,NaN,NaN,NaN,Missouri
...,...,...,...,...,...,...,...,...
796,0500000US55063,La Crosse County,22041,26524,13646,8081,73565,Wisconsin
797,0500000US55071,Manitowoc County,23809,16619,7977,3239,56773,Wisconsin
798,0500000US55073,Marathon County,34232,27535,13240,7513,92016,Wisconsin
799,0500000US55079,Milwaukee County,175012,180166,111865,62295,613434,Wisconsin
800,0500000US55087,Outagamie County,40540,37981,23032,9684,119845,Wisconsin
801,0500000US55089,Ozaukee County,14077,15367,18449,9564,60182,Wisconsin
802,0500000US55097,Portage County,16729,12668,8266,3348,44330,Wisconsin
803,0500000US55101,Racine County,39921,45211,20016,10701,131278,Wisconsin
804,0500000US55105,Rock County,35816,35737,14352,6826,107345,Wisconsin
805,0500000US55109,St. Croix County,15810,18413,12852,6158,56366,Wisconsin
806,0500000US55117,Sheboygan County,28582,23256,13236,5966,79730,Wisconsin
807,0500000US55127,Walworth County,21007,22198,11280,6321,67375,Wisconsin
808,0500000US55131,Washington County,28353,30207,18501,8081,91984,Wisconsin
809,0500000US55133,Waukesha County,68098,85446,71995,36503,273332,Wisconsin
810,0500000US55139,Winnebago County,38552,36300,21513,10023,114092,Wisconsin
811,0500000US55141,Wood County,NaN,NaN,NaN,NaN,NaN,Wisconsin
812,0500000US56021,Laramie County,19176,23459,9718,5050,62201,Wyoming
813,0500000US56025,Natrona County,13704,21755,7811,4402,52364,Wyoming
814,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72021,BayamÃ³n Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72097,MayagÃ¼ez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0100000US,United States,58495661,61011047,37969084,22773438,208731498,None

In [13]:
countyDelete = data2012["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2012["County"]= countyDelete[0] 
data2012["Delete"]=countyDelete[1]

In [15]:
data2012

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US27013,Blue,10872,12539,8641,4114,38076,Minnesota,Earth County
1,0500000US27019,Carver,12971,17609,18650,7479,59992,Minnesota,County
2,0500000US27037,Dakota,58194,93310,75188,30743,271925,Minnesota,County
3,0500000US27053,Hennepin,147072,222575,245622,132531,807164,Minnesota,County
4,0500000US27109,Olmsted,20925,32675,24558,14690,98846,Minnesota,County
5,0500000US27123,Ramsey,77198,96530,80611,53376,339301,Minnesota,County
6,0500000US27137,St.,40987,50093,24920,11809,135979,Minnesota,Louis County
7,0500000US27139,Scott,19420,27845,26406,8652,86914,Minnesota,County
8,0500000US27141,Sherburne,NaN,NaN,NaN,NaN,NaN,Minnesota,County
9,0500000US27145,Stearns,28745,33622,15921,8176,94570,Minnesota,County
10,0500000US27163,Washington,34418,53476,45386,23666,163400,Minnesota,County
11,0500000US27171,Wright,25005,30288,17023,4345,81420,Minnesota,County
12,0500000US28033,DeSoto,31373,40890,15546,7663,106647,Mississippi,County
13,0500000US28035,Forrest,NaN,NaN,NaN,NaN,NaN,Mississippi,County
14,0500000US28047,Harrison,38146,46122,15578,10699,126002,Mississippi,County
15,0500000US28049,Hinds,37705,54310,23347,17058,154179,Mississippi,County
16,0500000US28059,Jackson,NaN,NaN,NaN,NaN,NaN,Mississippi,County
17,0500000US28067,Jones,NaN,NaN,NaN,NaN,NaN,Mississippi,County
18,0500000US28075,Lauderdale,15748,19277,6596,3206,52142,Mississippi,County
19,0500000US28081,Lee,15986,17232,7693,4594,54929,Mississippi,County
20,0500000US28089,Madison,10472,15781,17651,13009,63190,Mississippi,County
21,0500000US28121,Rankin,30474,26888,19406,11385,98074,Mississippi,County
22,0500000US29019,Boone,18636,25642,27003,20679,96974,Missouri,County
23,0500000US29021,Buchanan,19720,16461,9117,3488,58522,Missouri,County
24,0500000US29031,Cape,16802,13496,9603,4655,49518,Missouri,Girardeau County
25,0500000US29037,Cass,25026,20520,10100,5843,66845,Missouri,County
26,0500000US29043,Christian,16268,17679,9702,3442,52304,Missouri,County
27,0500000US29047,Clay,42661,48402,32191,15901,151879,Missouri,County
28,0500000US29051,Cole,NaN,NaN,NaN,NaN,NaN,Missouri,County
29,0500000US29071,Franklin,NaN,NaN,NaN,NaN,NaN,Missouri,County
...,...,...,...,...,...,...,...,...,...
796,0500000US55063,La,22041,26524,13646,8081,73565,Wisconsin,Crosse County
797,0500000US55071,Manitowoc,23809,16619,7977,3239,56773,Wisconsin,County
798,0500000US55073,Marathon,34232,27535,13240,7513,92016,Wisconsin,County
799,0500000US55079,Milwaukee,175012,180166,111865,62295,613434,Wisconsin,County
800,0500000US55087,Outagamie,40540,37981,23032,9684,119845,Wisconsin,County
801,0500000US55089,Ozaukee,14077,15367,18449,9564,60182,Wisconsin,County
802,0500000US55097,Portage,16729,12668,8266,3348,44330,Wisconsin,County
803,0500000US55101,Racine,39921,45211,20016,10701,131278,Wisconsin,County
804,0500000US55105,Rock,35816,35737,14352,6826,107345,Wisconsin,County
805,0500000US55109,St.,15810,18413,12852,6158,56366,Wisconsin,Croix County
806,0500000US55117,Sheboygan,28582,23256,13236,5966,79730,Wisconsin,County
807,0500000US55127,Walworth,21007,22198,11280,6321,67375,Wisconsin,County
808,0500000US55131,Washington,28353,30207,18501,8081,91984,Wisconsin,County
809,0500000US55133,Waukesha,68098,85446,71995,36503,273332,Wisconsin,County
810,0500000US55139,Winnebago,38552,36300,21513,10023,114092,Wisconsin,County
811,0500000US55141,Wood,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
812,0500000US56021,Laramie,19176,23459,9718,5050,62201,Wyoming,County
813,0500000US56025,Natrona,13704,21755,7811,4402,52364,Wyoming,County
814,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
815,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
816,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
817,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
818,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
819,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
820,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
821,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
822,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
823,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
824,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
825,0100000US,United,58495661,61011047,37969084,22773438,208731498,None,States

In [16]:
data2012.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US27013,Blue,10872,12539,8641,4114,38076,Minnesota
1,0500000US27019,Carver,12971,17609,18650,7479,59992,Minnesota
2,0500000US27037,Dakota,58194,93310,75188,30743,271925,Minnesota
3,0500000US27053,Hennepin,147072,222575,245622,132531,807164,Minnesota
4,0500000US27109,Olmsted,20925,32675,24558,14690,98846,Minnesota
5,0500000US27123,Ramsey,77198,96530,80611,53376,339301,Minnesota
6,0500000US27137,St.,40987,50093,24920,11809,135979,Minnesota
7,0500000US27139,Scott,19420,27845,26406,8652,86914,Minnesota
8,0500000US27141,Sherburne,NaN,NaN,NaN,NaN,NaN,Minnesota
9,0500000US27145,Stearns,28745,33622,15921,8176,94570,Minnesota
10,0500000US27163,Washington,34418,53476,45386,23666,163400,Minnesota
11,0500000US27171,Wright,25005,30288,17023,4345,81420,Minnesota
12,0500000US28033,DeSoto,31373,40890,15546,7663,106647,Mississippi
13,0500000US28035,Forrest,NaN,NaN,NaN,NaN,NaN,Mississippi
14,0500000US28047,Harrison,38146,46122,15578,10699,126002,Mississippi
15,0500000US28049,Hinds,37705,54310,23347,17058,154179,Mississippi
16,0500000US28059,Jackson,NaN,NaN,NaN,NaN,NaN,Mississippi
17,0500000US28067,Jones,NaN,NaN,NaN,NaN,NaN,Mississippi
18,0500000US28075,Lauderdale,15748,19277,6596,3206,52142,Mississippi
19,0500000US28081,Lee,15986,17232,7693,4594,54929,Mississippi
20,0500000US28089,Madison,10472,15781,17651,13009,63190,Mississippi
21,0500000US28121,Rankin,30474,26888,19406,11385,98074,Mississippi
22,0500000US29019,Boone,18636,25642,27003,20679,96974,Missouri
23,0500000US29021,Buchanan,19720,16461,9117,3488,58522,Missouri
24,0500000US29031,Cape,16802,13496,9603,4655,49518,Missouri
25,0500000US29037,Cass,25026,20520,10100,5843,66845,Missouri
26,0500000US29043,Christian,16268,17679,9702,3442,52304,Missouri
27,0500000US29047,Clay,42661,48402,32191,15901,151879,Missouri
28,0500000US29051,Cole,NaN,NaN,NaN,NaN,NaN,Missouri
29,0500000US29071,Franklin,NaN,NaN,NaN,NaN,NaN,Missouri
...,...,...,...,...,...,...,...,...
796,0500000US55063,La,22041,26524,13646,8081,73565,Wisconsin
797,0500000US55071,Manitowoc,23809,16619,7977,3239,56773,Wisconsin
798,0500000US55073,Marathon,34232,27535,13240,7513,92016,Wisconsin
799,0500000US55079,Milwaukee,175012,180166,111865,62295,613434,Wisconsin
800,0500000US55087,Outagamie,40540,37981,23032,9684,119845,Wisconsin
801,0500000US55089,Ozaukee,14077,15367,18449,9564,60182,Wisconsin
802,0500000US55097,Portage,16729,12668,8266,3348,44330,Wisconsin
803,0500000US55101,Racine,39921,45211,20016,10701,131278,Wisconsin
804,0500000US55105,Rock,35816,35737,14352,6826,107345,Wisconsin
805,0500000US55109,St.,15810,18413,12852,6158,56366,Wisconsin
806,0500000US55117,Sheboygan,28582,23256,13236,5966,79730,Wisconsin
807,0500000US55127,Walworth,21007,22198,11280,6321,67375,Wisconsin
808,0500000US55131,Washington,28353,30207,18501,8081,91984,Wisconsin
809,0500000US55133,Waukesha,68098,85446,71995,36503,273332,Wisconsin
810,0500000US55139,Winnebago,38552,36300,21513,10023,114092,Wisconsin
811,0500000US55141,Wood,NaN,NaN,NaN,NaN,NaN,Wisconsin
812,0500000US56021,Laramie,19176,23459,9718,5050,62201,Wyoming
813,0500000US56025,Natrona,13704,21755,7811,4402,52364,Wyoming
814,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
819,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
820,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
821,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
822,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
823,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico
824,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
825,0100000US,United,58495661,61011047,37969084,22773438,208731498,None

In [17]:
splitFIPS = data2012["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  27013
1  0500000  27019
2  0500000  27037
3  0500000  27053
4  0500000  27109

In [19]:
data2012["Delete"]= splitFIPS[0] 
data2012["FIPS"]=splitFIPS[1]

In [20]:
data2012.drop(columns=['Delete'], inplace = True)

In [21]:
data2012.insert(len(data2012.columns), 'Year', 2012)

In [22]:
data2012.dropna(inplace = True)

In [23]:
data2012.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,27013,Blue,10872,12539,8641,4114,38076,Minnesota,2012
1,27019,Carver,12971,17609,18650,7479,59992,Minnesota,2012
2,27037,Dakota,58194,93310,75188,30743,271925,Minnesota,2012
3,27053,Hennepin,147072,222575,245622,132531,807164,Minnesota,2012
4,27109,Olmsted,20925,32675,24558,14690,98846,Minnesota,2012

In [24]:
path = '../dataPoints/education_2012_clean.xlsx'
data2012.to_excel(path,index=False)

In [25]:
data2012.dtypes

FIPS                                           object
County                                         object
High school graduate (includes equivalency)    object
Some college or associate's degree             object
Bachelor's degree                              object
Graduate or professional degree                object
Total                                          object
State                                          object
Year                                            int64
dtype: object

In [26]:
year5_to_load = "../Education/5Year/ACSDT5Y2012.B06009_data_with_overlays_2020-01-06T222644.csv"
metadata5_to_load = "../Education/5Year/ACSDT5Y2012.B06009_metadata_2020-01-06T222644.csv"

year5 = pd.read_csv(year5_to_load)
metadata2012 = pd.read_csv(metadata5_to_load)

In [27]:
year5 = year5[['GEO_ID',"NAME","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B06009_001E"]]

year5 = year5.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B06009_002E":"Less Than High School Graduate",
                                        "B06009_003E":"High school graduate (includes equivalency)",
                                        "B06009_004E":"Some college or associate's degree",
                                        "B06009_005E":"Bachelor's degree",
                                        "B06009_006E":"Graduate or professional degree","B06009_001E":"Total"})

In [28]:
year5=year5.drop(index =0)

In [29]:
year5=year5.reset_index(drop=True)

In [30]:
year5.insert(len(year5.columns), 'Year', 2012)

In [31]:
countySplit = year5["County"].str.split(", ", n = 1, expand = True)

In [32]:
year5["County"]= countySplit[0] 
year5["State"]=countySplit[1]

In [33]:
countyDelete = year5["County"].str.split(" ", n = 1, expand = True)

In [34]:
year5["County"]= countyDelete[0] 
year5["Delete"]=countyDelete[1]

In [35]:
year5.drop(columns=['Delete'], inplace = True)

In [36]:
splitFIPS = year5["FIPS"].str.split("US", n = 1, expand = True)

In [37]:
year5["Delete"]= splitFIPS[0] 
year5["FIPS"]=splitFIPS[1]

In [38]:
year5.drop(columns=['Delete'], inplace = True)

In [39]:
year5 = year5[year5.County != 'United']

In [40]:
missing12=year5[~year5.FIPS.isin(data2012.FIPS)]
list(missing12.columns.values)

['FIPS',
 'County',
 'High school graduate (includes equivalency)',
 "Some college or associate's degree",
 "Bachelor's degree",
 'Graduate or professional degree',
 'Total',
 'Year',
 'State']

In [41]:
missing12

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,Year,State
0,01001,Autauga,11874,10409,5085,2544,35144,2012,Alabama
2,01005,Barbour,6320,4892,1613,1144,18982,2012,Alabama
3,01007,Bibb,6457,3963,928,468,15518,2012,Alabama
4,01009,Blount,13994,10498,3137,1655,38703,2012,Alabama
5,01011,Bullock,2729,1697,485,415,7575,2012,Alabama
6,01013,Butler,5463,3465,1229,583,14081,2012,Alabama
8,01017,Chambers,8277,6546,1738,866,23621,2012,Alabama
9,01019,Cherokee,6206,5627,1430,999,18503,2012,Alabama
10,01021,Chilton,11356,6958,2276,1332,28945,2012,Alabama
11,01023,Choctaw,3683,2298,742,406,9617,2012,Alabama
12,01025,Clarke,7122,4190,1383,803,17214,2012,Alabama
13,01027,Clay,3696,2622,554,302,9673,2012,Alabama
14,01029,Cleburne,3871,2716,531,433,10173,2012,Alabama
15,01031,Coffee,9877,9897,4668,2875,33409,2012,Alabama
16,01033,Colbert,13254,11550,4520,2323,37936,2012,Alabama
17,01035,Conecuh,3681,2216,455,414,8930,2012,Alabama
18,01037,Coosa,3576,1816,400,387,8153,2012,Alabama
19,01039,Covington,8949,7718,2249,1358,26210,2012,Alabama
20,01041,Crenshaw,3691,2496,607,438,9477,2012,Alabama
21,01043,Cullman,17913,17584,4735,3045,54919,2012,Alabama
22,01045,Dale,10094,11915,3862,1931,33020,2012,Alabama
23,01047,Dallas,9841,7461,2242,1481,27909,2012,Alabama
24,01049,DeKalb,16669,11738,2735,1888,46841,2012,Alabama
26,01053,Escambia,9156,7369,2159,1038,26230,2012,Alabama
27,01055,Etowah,23262,24253,6850,3980,71383,2012,Alabama
28,01057,Fayette,4690,3047,736,657,12046,2012,Alabama
29,01059,Franklin,7119,5704,1728,832,21054,2012,Alabama
30,01061,Geneva,6956,5113,1472,565,18737,2012,Alabama
31,01063,Greene,2349,1466,405,289,5966,2012,Alabama
32,01065,Hale,3928,2499,854,373,10463,2012,Alabama
...,...,...,...,...,...,...,...,...,...
3191,72123,Salinas,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3192,72127,San,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3193,72129,San,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3194,72133,Santa,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3195,72135,Toa,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3196,72137,Toa,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3197,72139,Trujillo,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3198,72141,Utuado,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3199,72143,Vega,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3200,72145,Vega,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3201,72147,Vieques,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3202,72149,Villalba,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3203,72151,Yabucoa,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3204,72153,Yauco,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3205,72083,Las,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3206,72125,San,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3207,72045,ComerÃ­o,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3208,72055,GuÃ¡nica,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3209,72111,PeÃ±uelas,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3210,72011,AÃ±asco,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3211,72131,San,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3212,72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3213,72033,CataÃ±o,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3214,72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3215,72029,CanÃ³vanas,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3216,72117,RincÃ³n,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3217,72087,LoÃ­za,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3218,72075,Juana,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3219,72119,RÃ­o,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico
3220,72091,ManatÃ­,NaN,NaN,NaN,NaN,NaN,2012,Puerto Rico

In [42]:
years = (data2012,missing12)

In [43]:
merging12 = pd.concat(years)

C:\Users\dfire\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [44]:
merging12

,Bachelor's degree,County,FIPS,Graduate or professional degree,High school graduate (includes equivalency),Some college or associate's degree,State,Total,Year
0,8641,Blue,27013,4114,10872,12539,Minnesota,38076,2012
1,18650,Carver,27019,7479,12971,17609,Minnesota,59992,2012
2,75188,Dakota,27037,30743,58194,93310,Minnesota,271925,2012
3,245622,Hennepin,27053,132531,147072,222575,Minnesota,807164,2012
4,24558,Olmsted,27109,14690,20925,32675,Minnesota,98846,2012
5,80611,Ramsey,27123,53376,77198,96530,Minnesota,339301,2012
6,24920,St.,27137,11809,40987,50093,Minnesota,135979,2012
7,26406,Scott,27139,8652,19420,27845,Minnesota,86914,2012
9,15921,Stearns,27145,8176,28745,33622,Minnesota,94570,2012
10,45386,Washington,27163,23666,34418,53476,Minnesota,163400,2012
11,17023,Wright,27171,4345,25005,30288,Minnesota,81420,2012
12,15546,DeSoto,28033,7663,31373,40890,Mississippi,106647,2012
14,15578,Harrison,28047,10699,38146,46122,Mississippi,126002,2012
15,23347,Hinds,28049,17058,37705,54310,Mississippi,154179,2012
18,6596,Lauderdale,28075,3206,15748,19277,Mississippi,52142,2012
19,7693,Lee,28081,4594,15986,17232,Mississippi,54929,2012
20,17651,Madison,28089,13009,10472,15781,Mississippi,63190,2012
21,19406,Rankin,28121,11385,30474,26888,Mississippi,98074,2012
22,27003,Boone,29019,20679,18636,25642,Missouri,96974,2012
23,9117,Buchanan,29021,3488,19720,16461,Missouri,58522,2012
24,9603,Cape,29031,4655,16802,13496,Missouri,49518,2012
25,10100,Cass,29037,5843,25026,20520,Missouri,66845,2012
26,9702,Christian,29043,3442,16268,17679,Missouri,52304,2012
27,32191,Clay,29047,15901,42661,48402,Missouri,151879,2012
30,35557,Greene,29077,15862,49512,63534,Missouri,183690,2012
31,78700,Jackson,29095,45702,138172,141826,Missouri,451586,2012
32,9770,Jasper,29097,5949,27712,21151,Missouri,74494,2012
33,18553,Jefferson,29099,6888,51054,50067,Missouri,147499,2012
34,15843,Platte,29165,8731,14922,19940,Missouri,62680,2012
35,54555,St.,29183,29296,66839,80238,Missouri,245933,2012
...,...,...,...,...,...,...,...,...,...
3191,NaN,Salinas,72123,NaN,NaN,NaN,Puerto Rico,NaN,2012
3192,NaN,San,72127,NaN,NaN,NaN,Puerto Rico,NaN,2012
3193,NaN,San,72129,NaN,NaN,NaN,Puerto Rico,NaN,2012
3194,NaN,Santa,72133,NaN,NaN,NaN,Puerto Rico,NaN,2012
3195,NaN,Toa,72135,NaN,NaN,NaN,Puerto Rico,NaN,2012
3196,NaN,Toa,72137,NaN,NaN,NaN,Puerto Rico,NaN,2012
3197,NaN,Trujillo,72139,NaN,NaN,NaN,Puerto Rico,NaN,2012
3198,NaN,Utuado,72141,NaN,NaN,NaN,Puerto Rico,NaN,2012
3199,NaN,Vega,72143,NaN,NaN,NaN,Puerto Rico,NaN,2012
3200,NaN,Vega,72145,NaN,NaN,NaN,Puerto Rico,NaN,2012
3201,NaN,Vieques,72147,NaN,NaN,NaN,Puerto Rico,NaN,2012
3202,NaN,Villalba,72149,NaN,NaN,NaN,Puerto Rico,NaN,2012
3203,NaN,Yabucoa,72151,NaN,NaN,NaN,Puerto Rico,NaN,2012
3204,NaN,Yauco,72153,NaN,NaN,NaN,Puerto Rico,NaN,2012
3205,NaN,Las,72083,NaN,NaN,NaN,Puerto Rico,NaN,2012
3206,NaN,San,72125,NaN,NaN,NaN,Puerto Rico,NaN,2012
3207,NaN,ComerÃ­o,72045,NaN,NaN,NaN,Puerto Rico,NaN,2012
3208,NaN,GuÃ¡nica,72055,NaN,NaN,NaN,Puerto Rico,NaN,2012
3209,NaN,PeÃ±uelas,72111,NaN,NaN,NaN,Puerto Rico,NaN,2012
3210,NaN,AÃ±asco,72011,NaN,NaN,NaN,Puerto Rico,NaN,2012
3211,NaN,San,72131,NaN,NaN,NaN,Puerto Rico,NaN,2012
3212,NaN,BayamÃ³n,72021,NaN,NaN,NaN,Puerto Rico,NaN,2012
3213,NaN,CataÃ±o,72033,NaN,NaN,NaN,Puerto Rico,NaN,2012
3214,NaN,MayagÃ¼ez,72097,NaN,NaN,NaN,Puerto Rico,NaN,2012
3215,NaN,CanÃ³vanas,72029,NaN,NaN,NaN,Puerto Rico,NaN,2012
3216,NaN,RincÃ³n,72117,NaN,NaN,NaN,Puerto Rico,NaN,2012
3217,NaN,LoÃ­za,72087,NaN,NaN,NaN,Puerto Rico,NaN,2012
3218,NaN,Juana,72075,NaN,NaN,NaN,Puerto Rico,NaN,2012
3219,NaN,RÃ­o,72119,NaN,NaN,NaN,Puerto Rico,NaN,2012
3220,NaN,ManatÃ­,72091,NaN,NaN,NaN,Puerto Rico,NaN,2012

In [46]:
path = '../dataPoints/education_2012_merged.xlsx'
merging12.to_excel(path,index=False)