In [1]:
import pandas as pd
import numpy as np

In [2]:
data2018_to_load = "../Education/ACSDT1Y2018.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2018_to_load = "../Education/ACSDT1Y2018.B07009_metadata_2019-12-21T130141.csv"

fulldata2018 = pd.read_csv(data2018_to_load)
metadata2018 = pd.read_csv(metadata2018_to_load)

In [3]:
fulldata2018.head()

,GEO_ID,NAME,B07009_008M,B07009_009E,B07009_009M,B07009_010E,B07009_010M,B07009_011E,B07009_011M,B07009_012E,...,B07009_003M,B07009_004E,B07009_004M,B07009_005E,B07009_005M,B07009_006E,B07009_006M,B07009_007E,B07009_007M,B07009_008E
0,id,Geographic Area Name,Margin of Error!!Total!!Same house 1 year ago!...,Estimate!!Total!!Same house 1 year ago!!High s...,Margin of Error!!Total!!Same house 1 year ago!...,Estimate!!Total!!Same house 1 year ago!!Some c...,Margin of Error!!Total!!Same house 1 year ago!...,Estimate!!Total!!Same house 1 year ago!!Bachel...,Margin of Error!!Total!!Same house 1 year ago!...,Estimate!!Total!!Same house 1 year ago!!Gradua...,...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,Estimate!!Total!!Bachelor's degree,Margin of Error!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Margin of Error!!Total!!Graduate or profession...,Estimate!!Total!!Same house 1 year ago,Margin of Error!!Total!!Same house 1 year ago,Estimate!!Total!!Same house 1 year ago!!Less t...
1,0500000US44005,"Newport County, Rhode Island",1216,10838,1619,12987,1683,13850,1659,13208,...,1640,14068,1690,16578,1707,14723,2032,54684,1505,3801
2,0500000US44009,"Washington County, Rhode Island",1019,18699,2333,19981,1767,21827,2264,17103,...,2459,21277,1796,23157,2337,18154,2317,81926,1431,4316
3,0500000US45073,"Oconee County, South Carolina",2154,13775,2087,15330,2139,7553,1505,4996,...,2032,17493,2345,9062,1622,5597,1174,49479,1885,7825
4,0500000US48187,"Guadalupe County, Texas",1772,29977,3053,29224,2729,17901,2188,8231,...,3458,31801,2708,19914,2335,9797,1776,95723,2645,10390

In [4]:
data2018 = fulldata2018[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2018 = data2018.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2018.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US44005,"Newport County, Rhode Island",11420,14068,16578,14723,61616
2,0500000US44009,"Washington County, Rhode Island",19766,21277,23157,18154,87230
3,0500000US45073,"Oconee County, South Carolina",15646,17493,9062,5597,56382
4,0500000US48187,"Guadalupe County, Texas",34829,31801,19914,9797,107894

In [6]:
data2018=data2018.drop(index =0)

In [7]:
data2018=data2018.reset_index(drop=True)

In [8]:
data2018.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US44005,"Newport County, Rhode Island",11420,14068,16578,14723,61616
1,0500000US44009,"Washington County, Rhode Island",19766,21277,23157,18154,87230
2,0500000US45073,"Oconee County, South Carolina",15646,17493,9062,5597,56382
3,0500000US48187,"Guadalupe County, Texas",34829,31801,19914,9797,107894
4,0500000US53061,"Snohomish County, Washington",133029,204426,125602,60282,567618

In [9]:
countySplit = data2018["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                   0               1
0     Newport County    Rhode Island
1  Washington County    Rhode Island
2      Oconee County  South Carolina
3   Guadalupe County           Texas
4   Snohomish County      Washington

In [11]:
data2018["County"]= countySplit[0] 
data2018["State"]=countySplit[1]

In [12]:
data2018

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US44005,Newport County,11420,14068,16578,14723,61616,Rhode Island
1,0500000US44009,Washington County,19766,21277,23157,18154,87230,Rhode Island
2,0500000US45073,Oconee County,15646,17493,9062,5597,56382,South Carolina
3,0500000US48187,Guadalupe County,34829,31801,19914,9797,107894,Texas
4,0500000US53061,Snohomish County,133029,204426,125602,60282,567618,Washington
5,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
6,0500000US06085,Santa Clara County,184686,293946,383232,342615,1349769,California
7,0500000US06099,Stanislaus County,107960,113904,39921,18053,348796,California
8,0500000US12099,Palm Beach County,265487,297962,247498,154919,1090260,Florida
9,0500000US13117,Forsyth County,26129,34887,52519,31637,154377,Georgia
10,0500000US20173,Sedgwick County,85703,107309,65348,40647,334230,Kansas
11,0500000US26005,Allegan County,28001,25496,11268,7379,80051,Michigan
12,0500000US26081,Kent County,104826,135758,104876,53481,434090,Michigan
13,0500000US29189,St. Louis County,143604,200596,172199,132165,692991,Missouri
14,0500000US34007,Camden County,100165,97254,67763,43294,350674,New Jersey
15,0500000US35035,Otero County,12836,15793,5822,3368,44690,New Mexico
16,0500000US37171,Surry County,NaN,NaN,NaN,NaN,NaN,North Carolina
17,0500000US47149,Rutherford County,56714,69065,44250,17749,204884,Tennessee
18,0500000US48183,Gregg County,23968,27834,10599,6089,80060,Texas
19,0500000US48347,Nacogdoches County,NaN,NaN,NaN,NaN,NaN,Texas
20,0500000US51069,Frederick County,19322,17786,9331,8341,61130,Virginia
21,0500000US55089,Ozaukee County,12398,17890,17992,12592,62738,Wisconsin
22,0500000US55133,Waukesha County,62897,80595,83932,45838,284512,Wisconsin
23,0500000US04021,Pinal County,90547,116102,37962,22782,309013,Arizona
24,0500000US06045,Mendocino County,NaN,NaN,NaN,NaN,NaN,California
25,0500000US06059,Orange County,376454,612379,579012,321527,2194598,California
26,0500000US12053,Hernando County,48446,49242,17061,8415,143126,Florida
27,0500000US12115,Sarasota County,97386,102475,70580,49488,341851,Florida
28,0500000US12119,Sumter County,34205,36024,19542,16253,115853,Florida
29,0500000US29183,St. Charles County,66808,85267,67001,41422,272809,Missouri
...,...,...,...,...,...,...,...,...
809,0500000US22005,Ascension Parish,NaN,NaN,NaN,NaN,NaN,Louisiana
810,0500000US26161,Washtenaw County,33556,56965,63216,68024,232636,Michigan
811,0500000US29021,Buchanan County,23209,17119,9741,3705,61276,Missouri
812,0500000US29077,Greene County,53544,67257,33509,20964,191714,Missouri
813,0500000US34039,Union County,102496,86609,85853,58733,380464,New Jersey
814,0500000US36109,Tompkins County,11508,13481,12578,18457,59759,New York
815,0500000US37191,Wayne County,24424,31256,9965,4039,82613,North Carolina
816,0500000US41003,Benton County,8297,15479,15704,14064,55736,Oregon
817,0500000US41067,Washington County,69866,122205,115152,69875,411794,Oregon
818,0500000US45003,Aiken County,39815,34507,19993,11192,117939,South Carolina
819,0500000US51177,Spotsylvania County,25944,27461,15160,12073,88629,Virginia
820,0500000US12069,Lake County,83203,91853,40836,20843,264080,Florida
821,0500000US12127,Volusia County,124653,144794,67714,33021,406416,Florida
822,0500000US34027,Morris County,65130,70398,110254,84556,347332,New Jersey
823,0500000US36065,Oneida County,52502,48849,22601,18688,160103,New York
824,0500000US36075,Oswego County,28856,26248,9374,6732,80284,New York
825,0500000US37147,Pitt County,26425,35426,23555,11929,111171,North Carolina
826,0500000US41071,Yamhill County,17512,25817,13222,7691,71923,Oregon
827,0500000US48367,Parker County,29365,28337,16372,9501,93178,Texas
828,0500000US53029,Island County,12459,25731,12274,9067,62374,Washington
829,0500000US06081,San Mateo County,80046,129737,168047,124179,555691,California
830,0500000US17019,Champaign County,26144,34667,26318,27451,121007,Illinois
831,0500000US21029,Bullitt County,NaN,NaN,NaN,NaN,NaN,Kentucky
832,0500000US26073,Isabella County,13361,11332,6066,5146,39330,Michigan
833,0500000US34003,Bergen County,148587,139100,204372,121357,662135,New Jersey
834,0500000US34041,Warren County,25146,21042,16769,7985,76132,New Jersey
835,0500000US39003,Allen County,27729,22664,6725,5182,68507,Ohio
836,0500000US39043,Erie County,NaN,NaN,NaN,NaN,NaN,Ohio
837,0500000US41053,Polk County,NaN,NaN,NaN,NaN,NaN,Oregon
838,0100000US,United States,59961893,64402330,44599186,28151275,223158847,None

In [13]:
countyDelete = data2018["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2018["County"]= countyDelete[0] 
data2018["Delete"]=countyDelete[1]

In [15]:
data2018

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US44005,Newport,11420,14068,16578,14723,61616,Rhode Island,County
1,0500000US44009,Washington,19766,21277,23157,18154,87230,Rhode Island,County
2,0500000US45073,Oconee,15646,17493,9062,5597,56382,South Carolina,County
3,0500000US48187,Guadalupe,34829,31801,19914,9797,107894,Texas,County
4,0500000US53061,Snohomish,133029,204426,125602,60282,567618,Washington,County
5,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
6,0500000US06085,Santa,184686,293946,383232,342615,1349769,California,Clara County
7,0500000US06099,Stanislaus,107960,113904,39921,18053,348796,California,County
8,0500000US12099,Palm,265487,297962,247498,154919,1090260,Florida,Beach County
9,0500000US13117,Forsyth,26129,34887,52519,31637,154377,Georgia,County
10,0500000US20173,Sedgwick,85703,107309,65348,40647,334230,Kansas,County
11,0500000US26005,Allegan,28001,25496,11268,7379,80051,Michigan,County
12,0500000US26081,Kent,104826,135758,104876,53481,434090,Michigan,County
13,0500000US29189,St.,143604,200596,172199,132165,692991,Missouri,Louis County
14,0500000US34007,Camden,100165,97254,67763,43294,350674,New Jersey,County
15,0500000US35035,Otero,12836,15793,5822,3368,44690,New Mexico,County
16,0500000US37171,Surry,NaN,NaN,NaN,NaN,NaN,North Carolina,County
17,0500000US47149,Rutherford,56714,69065,44250,17749,204884,Tennessee,County
18,0500000US48183,Gregg,23968,27834,10599,6089,80060,Texas,County
19,0500000US48347,Nacogdoches,NaN,NaN,NaN,NaN,NaN,Texas,County
20,0500000US51069,Frederick,19322,17786,9331,8341,61130,Virginia,County
21,0500000US55089,Ozaukee,12398,17890,17992,12592,62738,Wisconsin,County
22,0500000US55133,Waukesha,62897,80595,83932,45838,284512,Wisconsin,County
23,0500000US04021,Pinal,90547,116102,37962,22782,309013,Arizona,County
24,0500000US06045,Mendocino,NaN,NaN,NaN,NaN,NaN,California,County
25,0500000US06059,Orange,376454,612379,579012,321527,2194598,California,County
26,0500000US12053,Hernando,48446,49242,17061,8415,143126,Florida,County
27,0500000US12115,Sarasota,97386,102475,70580,49488,341851,Florida,County
28,0500000US12119,Sumter,34205,36024,19542,16253,115853,Florida,County
29,0500000US29183,St.,66808,85267,67001,41422,272809,Missouri,Charles County
...,...,...,...,...,...,...,...,...,...
809,0500000US22005,Ascension,NaN,NaN,NaN,NaN,NaN,Louisiana,Parish
810,0500000US26161,Washtenaw,33556,56965,63216,68024,232636,Michigan,County
811,0500000US29021,Buchanan,23209,17119,9741,3705,61276,Missouri,County
812,0500000US29077,Greene,53544,67257,33509,20964,191714,Missouri,County
813,0500000US34039,Union,102496,86609,85853,58733,380464,New Jersey,County
814,0500000US36109,Tompkins,11508,13481,12578,18457,59759,New York,County
815,0500000US37191,Wayne,24424,31256,9965,4039,82613,North Carolina,County
816,0500000US41003,Benton,8297,15479,15704,14064,55736,Oregon,County
817,0500000US41067,Washington,69866,122205,115152,69875,411794,Oregon,County
818,0500000US45003,Aiken,39815,34507,19993,11192,117939,South Carolina,County
819,0500000US51177,Spotsylvania,25944,27461,15160,12073,88629,Virginia,County
820,0500000US12069,Lake,83203,91853,40836,20843,264080,Florida,County
821,0500000US12127,Volusia,124653,144794,67714,33021,406416,Florida,County
822,0500000US34027,Morris,65130,70398,110254,84556,347332,New Jersey,County
823,0500000US36065,Oneida,52502,48849,22601,18688,160103,New York,County
824,0500000US36075,Oswego,28856,26248,9374,6732,80284,New York,County
825,0500000US37147,Pitt,26425,35426,23555,11929,111171,North Carolina,County
826,0500000US41071,Yamhill,17512,25817,13222,7691,71923,Oregon,County
827,0500000US48367,Parker,29365,28337,16372,9501,93178,Texas,County
828,0500000US53029,Island,12459,25731,12274,9067,62374,Washington,County
829,0500000US06081,San,80046,129737,168047,124179,555691,California,Mateo County
830,0500000US17019,Champaign,26144,34667,26318,27451,121007,Illinois,County
831,0500000US21029,Bullitt,NaN,NaN,NaN,NaN,NaN,Kentucky,County
832,0500000US26073,Isabella,13361,11332,6066,5146,39330,Michigan,County
833,0500000US34003,Bergen,148587,139100,204372,121357,662135,New Jersey,County
834,0500000US34041,Warren,25146,21042,16769,7985,76132,New Jersey,County
835,0500000US39003,Allen,27729,22664,6725,5182,68507,Ohio,County
836,0500000US39043,Erie,NaN,NaN,NaN,NaN,NaN,Ohio,County
837,0500000US41053,Polk,NaN,NaN,NaN,NaN,NaN,Oregon,County
838,0100000US,United,59961893,64402330,44599186,28151275,223158847,None,States

In [16]:
data2018.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US44005,Newport,11420,14068,16578,14723,61616,Rhode Island
1,0500000US44009,Washington,19766,21277,23157,18154,87230,Rhode Island
2,0500000US45073,Oconee,15646,17493,9062,5597,56382,South Carolina
3,0500000US48187,Guadalupe,34829,31801,19914,9797,107894,Texas
4,0500000US53061,Snohomish,133029,204426,125602,60282,567618,Washington
5,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
6,0500000US06085,Santa,184686,293946,383232,342615,1349769,California
7,0500000US06099,Stanislaus,107960,113904,39921,18053,348796,California
8,0500000US12099,Palm,265487,297962,247498,154919,1090260,Florida
9,0500000US13117,Forsyth,26129,34887,52519,31637,154377,Georgia
10,0500000US20173,Sedgwick,85703,107309,65348,40647,334230,Kansas
11,0500000US26005,Allegan,28001,25496,11268,7379,80051,Michigan
12,0500000US26081,Kent,104826,135758,104876,53481,434090,Michigan
13,0500000US29189,St.,143604,200596,172199,132165,692991,Missouri
14,0500000US34007,Camden,100165,97254,67763,43294,350674,New Jersey
15,0500000US35035,Otero,12836,15793,5822,3368,44690,New Mexico
16,0500000US37171,Surry,NaN,NaN,NaN,NaN,NaN,North Carolina
17,0500000US47149,Rutherford,56714,69065,44250,17749,204884,Tennessee
18,0500000US48183,Gregg,23968,27834,10599,6089,80060,Texas
19,0500000US48347,Nacogdoches,NaN,NaN,NaN,NaN,NaN,Texas
20,0500000US51069,Frederick,19322,17786,9331,8341,61130,Virginia
21,0500000US55089,Ozaukee,12398,17890,17992,12592,62738,Wisconsin
22,0500000US55133,Waukesha,62897,80595,83932,45838,284512,Wisconsin
23,0500000US04021,Pinal,90547,116102,37962,22782,309013,Arizona
24,0500000US06045,Mendocino,NaN,NaN,NaN,NaN,NaN,California
25,0500000US06059,Orange,376454,612379,579012,321527,2194598,California
26,0500000US12053,Hernando,48446,49242,17061,8415,143126,Florida
27,0500000US12115,Sarasota,97386,102475,70580,49488,341851,Florida
28,0500000US12119,Sumter,34205,36024,19542,16253,115853,Florida
29,0500000US29183,St.,66808,85267,67001,41422,272809,Missouri
...,...,...,...,...,...,...,...,...
809,0500000US22005,Ascension,NaN,NaN,NaN,NaN,NaN,Louisiana
810,0500000US26161,Washtenaw,33556,56965,63216,68024,232636,Michigan
811,0500000US29021,Buchanan,23209,17119,9741,3705,61276,Missouri
812,0500000US29077,Greene,53544,67257,33509,20964,191714,Missouri
813,0500000US34039,Union,102496,86609,85853,58733,380464,New Jersey
814,0500000US36109,Tompkins,11508,13481,12578,18457,59759,New York
815,0500000US37191,Wayne,24424,31256,9965,4039,82613,North Carolina
816,0500000US41003,Benton,8297,15479,15704,14064,55736,Oregon
817,0500000US41067,Washington,69866,122205,115152,69875,411794,Oregon
818,0500000US45003,Aiken,39815,34507,19993,11192,117939,South Carolina
819,0500000US51177,Spotsylvania,25944,27461,15160,12073,88629,Virginia
820,0500000US12069,Lake,83203,91853,40836,20843,264080,Florida
821,0500000US12127,Volusia,124653,144794,67714,33021,406416,Florida
822,0500000US34027,Morris,65130,70398,110254,84556,347332,New Jersey
823,0500000US36065,Oneida,52502,48849,22601,18688,160103,New York
824,0500000US36075,Oswego,28856,26248,9374,6732,80284,New York
825,0500000US37147,Pitt,26425,35426,23555,11929,111171,North Carolina
826,0500000US41071,Yamhill,17512,25817,13222,7691,71923,Oregon
827,0500000US48367,Parker,29365,28337,16372,9501,93178,Texas
828,0500000US53029,Island,12459,25731,12274,9067,62374,Washington
829,0500000US06081,San,80046,129737,168047,124179,555691,California
830,0500000US17019,Champaign,26144,34667,26318,27451,121007,Illinois
831,0500000US21029,Bullitt,NaN,NaN,NaN,NaN,NaN,Kentucky
832,0500000US26073,Isabella,13361,11332,6066,5146,39330,Michigan
833,0500000US34003,Bergen,148587,139100,204372,121357,662135,New Jersey
834,0500000US34041,Warren,25146,21042,16769,7985,76132,New Jersey
835,0500000US39003,Allen,27729,22664,6725,5182,68507,Ohio
836,0500000US39043,Erie,NaN,NaN,NaN,NaN,NaN,Ohio
837,0500000US41053,Polk,NaN,NaN,NaN,NaN,NaN,Oregon
838,0100000US,United,59961893,64402330,44599186,28151275,223158847,None

In [17]:
splitFIPS = data2018["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  44005
1  0500000  44009
2  0500000  45073
3  0500000  48187
4  0500000  53061

In [19]:
data2018["Delete"]= splitFIPS[0] 
data2018["FIPS"]=splitFIPS[1]

In [20]:
data2018.drop(columns=['Delete'], inplace = True)

In [21]:
data2018.insert(len(data2018.columns), 'Year', 2018)

In [23]:
data2018.dropna(inplace = True)

In [24]:
data2018.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,44005,Newport,11420,14068,16578,14723,61616,Rhode Island,2018
1,44009,Washington,19766,21277,23157,18154,87230,Rhode Island,2018
2,45073,Oconee,15646,17493,9062,5597,56382,South Carolina,2018
3,48187,Guadalupe,34829,31801,19914,9797,107894,Texas,2018
4,53061,Snohomish,133029,204426,125602,60282,567618,Washington,2018

In [25]:
path = '../dataPoints/education_2018_clean.xlsx'
data2018.to_excel(path,index=False)

In [26]:
year5_to_load = "../Education/5Year/ACSDT5Y2018.B06009_data_with_overlays_2020-01-06T222644.csv"
metadata5_to_load = "../Education/5Year/ACSDT5Y2018.B06009_metadata_2020-01-06T222644.csv"

year5 = pd.read_csv(year5_to_load)
metadata2018 = pd.read_csv(metadata5_to_load)

In [27]:
year5 = year5[['GEO_ID',"NAME","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B06009_001E"]]

year5 = year5.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B06009_002E":"Less Than High School Graduate",
                                        "B06009_003E":"High school graduate (includes equivalency)",
                                        "B06009_004E":"Some college or associate's degree",
                                        "B06009_005E":"Bachelor's degree",
                                        "B06009_006E":"Graduate or professional degree","B06009_001E":"Total"})

In [28]:
year5=year5.drop(index =0)

In [29]:
year5=year5.reset_index(drop=True)

In [30]:
year5.insert(len(year5.columns), 'Year', 2018)

In [31]:
countySplit = year5["County"].str.split(", ", n = 1, expand = True)

In [32]:
year5["County"]= countySplit[0] 
year5["State"]=countySplit[1]

In [33]:
countyDelete = year5["County"].str.split(" ", n = 1, expand = True)

In [34]:
year5["County"]= countyDelete[0] 
year5["Delete"]=countyDelete[1]

In [35]:
year5.drop(columns=['Delete'], inplace = True)

In [36]:
splitFIPS = year5["FIPS"].str.split("US", n = 1, expand = True)

In [37]:
year5["Delete"]= splitFIPS[0] 
year5["FIPS"]=splitFIPS[1]

In [38]:
year5.drop(columns=['Delete'], inplace = True)

In [39]:
year5 = year5[year5.County != 'United']

In [40]:
missing18=year5[~year5.FIPS.isin(data2018.FIPS)]
list(missing18.columns.values)

['FIPS',
 'County',
 'High school graduate (includes equivalency)',
 "Some college or associate's degree",
 "Bachelor's degree",
 'Graduate or professional degree',
 'Total',
 'Year',
 'State']

In [41]:
missing18

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,Year,State
0,28151,Washington,9254,8835,3476,2220,30308,2018,Mississippi
1,28111,Perry,3290,2474,694,204,8198,2018,Mississippi
2,28019,Choctaw,2201,1440,625,399,5799,2018,Mississippi
3,28057,Itawamba,4743,5457,1337,772,15684,2018,Mississippi
4,28015,Carroll,2422,2451,692,359,7248,2018,Mississippi
5,28043,Grenada,3963,4699,1784,1038,14357,2018,Mississippi
6,28063,Jefferson,1808,1186,272,479,5006,2018,Mississippi
7,28041,Greene,3463,3201,612,225,9732,2018,Mississippi
8,28093,Marshall,9831,6736,2454,908,24521,2018,Mississippi
9,28119,Quitman,1489,1433,378,183,4930,2018,Mississippi
10,28011,Bolivar,5141,5931,2978,1983,20837,2018,Mississippi
11,28073,Lamar,9460,12933,8948,5254,40319,2018,Mississippi
12,28081,Lee,14003,19547,8570,4797,56010,2018,Mississippi
13,28113,Pike,9095,7795,2600,1360,25520,2018,Mississippi
14,28135,Tallahatchie,3148,2581,761,372,9956,2018,Mississippi
15,28129,Smith,4582,2957,730,634,10916,2018,Mississippi
16,28131,Stone,4056,3780,1201,523,11911,2018,Mississippi
17,28149,Warren,9855,10316,4416,2937,31568,2018,Mississippi
18,28023,Clarke,4010,3624,871,420,11016,2018,Mississippi
19,28069,Kemper,2560,2372,461,291,6824,2018,Mississippi
20,28097,Montgomery,2464,1787,1021,443,7190,2018,Mississippi
21,28105,Oktibbeha,5191,6747,5411,5629,25391,2018,Mississippi
22,28109,Pearl,11239,14138,4119,2034,37540,2018,Mississippi
23,28079,Leake,5379,4097,1200,683,14695,2018,Mississippi
24,28103,Noxubee,2269,1863,675,277,7044,2018,Mississippi
25,28099,Neshoba,6343,5972,1467,818,18681,2018,Mississippi
27,28137,Tate,6043,5857,2268,958,18543,2018,Mississippi
28,28077,Lawrence,3139,2556,761,556,8426,2018,Mississippi
29,28107,Panola,8511,5791,2099,1247,22518,2018,Mississippi
30,28161,Yalobusha,3303,2618,894,324,8586,2018,Mississippi
...,...,...,...,...,...,...,...,...,...
3185,18077,Jefferson,9370,6615,2483,1489,22146,2018,Indiana
3186,18111,Newton,4391,2987,774,341,9935,2018,Indiana
3188,18155,Switzerland,3495,1769,529,182,7188,2018,Indiana
3189,18015,Carroll,5684,4353,1697,704,13949,2018,Indiana
3190,18069,Huntington,10448,7474,3074,1653,24902,2018,Indiana
3191,18181,White,6908,5084,1815,990,16694,2018,Indiana
3192,18075,Jay,6504,3717,962,498,13782,2018,Indiana
3194,19101,Jefferson,3540,4263,2164,1866,12768,2018,Iowa
3195,19005,Allamakee,3770,2930,1329,463,9688,2018,Iowa
3197,19023,Butler,3928,3893,1324,499,10404,2018,Iowa
3198,19071,Fremont,1790,1862,658,302,4987,2018,Iowa
3199,19173,Taylor,1691,1559,459,183,4314,2018,Iowa
3200,19195,Worth,1962,2107,593,226,5268,2018,Iowa
3201,19003,Adams,1056,1006,371,107,2700,2018,Iowa
3202,19037,Chickasaw,3627,2650,1077,335,8334,2018,Iowa
3203,19059,Dickinson,3558,4609,2876,1096,12674,2018,Iowa
3205,19171,Tama,4654,4045,1370,505,11627,2018,Iowa
3206,19069,Franklin,2566,2629,951,313,7131,2018,Iowa
3207,19027,Carroll,5013,4823,2292,778,13798,2018,Iowa
3208,19067,Floyd,3700,3842,1690,480,10879,2018,Iowa
3209,19115,Louisa,2812,2402,756,340,7703,2018,Iowa
3210,19119,Lyon,2776,2490,1214,412,7611,2018,Iowa
3211,19165,Shelby,2976,2895,1280,439,8255,2018,Iowa
3212,19087,Henry,5149,4815,2064,680,13675,2018,Iowa
3213,19145,Page,3854,3888,1779,595,11130,2018,Iowa
3215,19043,Clayton,5502,3848,1670,496,12629,2018,Iowa
3216,19021,Buena,3762,3658,1751,755,12766,2018,Iowa
3217,19077,Guthrie,2904,2594,1093,393,7523,2018,Iowa
3218,19091,Humboldt,2401,2368,1089,304,6682,2018,Iowa
3219,19183,Washington,5888,4537,2269,945,14975,2018,Iowa

In [42]:
years = (data2018,missing18)

In [43]:
merging18 = pd.concat(years)

C:\Users\dfire\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [44]:
merging18

,Bachelor's degree,County,FIPS,Graduate or professional degree,High school graduate (includes equivalency),Some college or associate's degree,State,Total,Year
0,16578,Newport,44005,14723,11420,14068,Rhode Island,61616,2018
1,23157,Washington,44009,18154,19766,21277,Rhode Island,87230,2018
2,9062,Oconee,45073,5597,15646,17493,South Carolina,56382,2018
3,19914,Guadalupe,48187,9797,34829,31801,Texas,107894,2018
4,125602,Snohomish,53061,60282,133029,204426,Washington,567618,2018
6,383232,Santa,06085,342615,184686,293946,California,1349769,2018
7,39921,Stanislaus,06099,18053,107960,113904,California,348796,2018
8,247498,Palm,12099,154919,265487,297962,Florida,1090260,2018
9,52519,Forsyth,13117,31637,26129,34887,Georgia,154377,2018
10,65348,Sedgwick,20173,40647,85703,107309,Kansas,334230,2018
11,11268,Allegan,26005,7379,28001,25496,Michigan,80051,2018
12,104876,Kent,26081,53481,104826,135758,Michigan,434090,2018
13,172199,St.,29189,132165,143604,200596,Missouri,692991,2018
14,67763,Camden,34007,43294,100165,97254,New Jersey,350674,2018
15,5822,Otero,35035,3368,12836,15793,New Mexico,44690,2018
17,44250,Rutherford,47149,17749,56714,69065,Tennessee,204884,2018
18,10599,Gregg,48183,6089,23968,27834,Texas,80060,2018
20,9331,Frederick,51069,8341,19322,17786,Virginia,61130,2018
21,17992,Ozaukee,55089,12592,12398,17890,Wisconsin,62738,2018
22,83932,Waukesha,55133,45838,62897,80595,Wisconsin,284512,2018
23,37962,Pinal,04021,22782,90547,116102,Arizona,309013,2018
25,579012,Orange,06059,321527,376454,612379,California,2194598,2018
26,17061,Hernando,12053,8415,48446,49242,Florida,143126,2018
27,70580,Sarasota,12115,49488,97386,102475,Florida,341851,2018
28,19542,Sumter,12119,16253,34205,36024,Florida,115853,2018
29,67001,St.,29183,41422,66808,85267,Missouri,272809,2018
30,3581,St.,29187,3933,17989,15668,Missouri,47504,2018
31,238914,Nassau,36059,199873,217135,209597,New York,947754,2018
32,44179,Orange,36071,30659,71284,73297,New York,245240,2018
33,17464,Onslow,37133,7900,31625,39354,North Carolina,106570,2018
...,...,...,...,...,...,...,...,...,...
3185,2483,Jefferson,18077,1489,9370,6615,Indiana,22146,2018
3186,774,Newton,18111,341,4391,2987,Indiana,9935,2018
3188,529,Switzerland,18155,182,3495,1769,Indiana,7188,2018
3189,1697,Carroll,18015,704,5684,4353,Indiana,13949,2018
3190,3074,Huntington,18069,1653,10448,7474,Indiana,24902,2018
3191,1815,White,18181,990,6908,5084,Indiana,16694,2018
3192,962,Jay,18075,498,6504,3717,Indiana,13782,2018
3194,2164,Jefferson,19101,1866,3540,4263,Iowa,12768,2018
3195,1329,Allamakee,19005,463,3770,2930,Iowa,9688,2018
3197,1324,Butler,19023,499,3928,3893,Iowa,10404,2018
3198,658,Fremont,19071,302,1790,1862,Iowa,4987,2018
3199,459,Taylor,19173,183,1691,1559,Iowa,4314,2018
3200,593,Worth,19195,226,1962,2107,Iowa,5268,2018
3201,371,Adams,19003,107,1056,1006,Iowa,2700,2018
3202,1077,Chickasaw,19037,335,3627,2650,Iowa,8334,2018
3203,2876,Dickinson,19059,1096,3558,4609,Iowa,12674,2018
3205,1370,Tama,19171,505,4654,4045,Iowa,11627,2018
3206,951,Franklin,19069,313,2566,2629,Iowa,7131,2018
3207,2292,Carroll,19027,778,5013,4823,Iowa,13798,2018
3208,1690,Floyd,19067,480,3700,3842,Iowa,10879,2018
3209,756,Louisa,19115,340,2812,2402,Iowa,7703,2018
3210,1214,Lyon,19119,412,2776,2490,Iowa,7611,2018
3211,1280,Shelby,19165,439,2976,2895,Iowa,8255,2018
3212,2064,Henry,19087,680,5149,4815,Iowa,13675,2018
3213,1779,Page,19145,595,3854,3888,Iowa,11130,2018
3215,1670,Clayton,19043,496,5502,3848,Iowa,12629,2018
3216,1751,Buena,19021,755,3762,3658,Iowa,12766,2018
3217,1093,Guthrie,19077,393,2904,2594,Iowa,7523,2018
3218,1089,Humboldt,19091,304,2401,2368,Iowa,6682,2018
3219,2269,Washington,19183,945,5888,4537,Iowa,14975,2018

In [45]:
path = '../dataPoints/education_2018_merged.xlsx'
merging18.to_excel(path,index=False)