In [1]:
import pandas as pd

In [2]:
# Get File
path = 'Desktop/Election/5yearmedianincome_county.csv'
income_df = pd.read_csv(path)
income_df.head()

,id,FIPS,Total households!!Median household income (dollars),Margin of Error!!INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Total households!!Median household income (dollars),Total households!!Mean household income (dollars),Margin of Error!!INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Total households!!Mean household income (dollars)
0,0500000US,1001.0,58786,2972,75515,6810
1,0500000US,1003.0,55962,1204,77212,1732
2,0500000US,1005.0,34186,2552,47909,2220
3,0500000US,1007.0,45340,5618,58529,4043
4,0500000US,1009.0,48695,2703,60646,2567

In [3]:
income_df.dtypes
income_df.dropna(inplace=True)

In [4]:
# Make Sure FIPS are 5 Digits
# Make Int a String, already a string???
income_df['FIPS'] = income_df['FIPS'].astype(str)
#Drop random .0's 
#df['ID'] = df['ID'].astype(str).replace('\.0', '', regex=True)
income_df['FIPS'] = income_df['FIPS'].replace('\.0', '', regex=True)
income_df.head()

,id,FIPS,Total households!!Median household income (dollars),Margin of Error!!INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Total households!!Median household income (dollars),Total households!!Mean household income (dollars),Margin of Error!!INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Total households!!Mean household income (dollars)
0,0500000US,1001,58786,2972,75515,6810
1,0500000US,1003,55962,1204,77212,1732
2,0500000US,1005,34186,2552,47909,2220
3,0500000US,1007,45340,5618,58529,4043
4,0500000US,1009,48695,2703,60646,2567

In [5]:
# If FIPS String is 4 Digits Long- Add 0 to Beginning

income_df.insert(len(income_df.columns), 'Add Zero FIPS', '0' + income_df['FIPS'])

income_df.loc[income_df['FIPS'].str.len()==4, 'FIPS'] = income_df.loc[income_df['FIPS'].str.len()==4, 'Add Zero FIPS']

In [6]:
# Test if There are FIPS That Are Not 5 Characters
test = income_df.loc[income_df['FIPS'].str.len()!=5, 'FIPS'].copy()
print(test.size)

0

In [7]:
#Clean columns
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
income_df = income_df.rename(columns={'Total households!!Median household income (dollars)': 'Household Median Income', 'Margin of Error!!INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Total households!!Median household income (dollars)': 'Margin of Error'})
income_df.head()

,id,FIPS,Household Median Income,Margin of Error,Total households!!Mean household income (dollars),Margin of Error!!INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Total households!!Mean household income (dollars),Add Zero FIPS
0,0500000US,01001,58786,2972,75515,6810,01001
1,0500000US,01003,55962,1204,77212,1732,01003
2,0500000US,01005,34186,2552,47909,2220,01005
3,0500000US,01007,45340,5618,58529,4043,01007
4,0500000US,01009,48695,2703,60646,2567,01009

In [8]:
income_df = income_df[['FIPS', 'Household Median Income', 'Margin of Error']]
#income_df.dropna(inplace=True)
#income_df

In [9]:
# Attach Year
#income_df.insert(len(income_df.columns), 'Year', 2018)

In [10]:
# Save Output 
path2 = 'Desktop/Election/medianincome_processed.csv'
income_df.to_csv(path2,index=False)

In [11]:
path3 = 'Desktop/Election/2012_income.csv'
income_2012 = pd.read_csv(path3)
path4 = 'Desktop/Election/2016_income.csv'
income_2016 = pd.read_csv(path4)
path5 = 'Desktop/Election/2018_income.csv'
income_2018 = pd.read_csv(path5)
income_2012.dropna(inplace=True)
income_2016.dropna(inplace=True)
income_2018.dropna(inplace=True)
income_2012['FIPS'] = income_2012['FIPS'].astype(str)
income_2016['FIPS'] = income_2016['FIPS'].astype(str)
income_2018['FIPS'] = income_2018['FIPS'].astype(str)

In [12]:
income_2012['FIPS'] = income_2012['FIPS'].replace('\.0', '', regex=True)
income_2016['FIPS'] = income_2016['FIPS'].replace('\.0', '', regex=True)
income_2018['FIPS'] = income_2018['FIPS'].replace('\.0', '', regex=True)
income_2012.insert(len(income_2012.columns), 'Add Zero FIPS', '0' + income_2012['FIPS'])
income_2012.loc[income_2012['FIPS'].str.len()==4, 'FIPS'] = income_2012.loc[income_2012['FIPS'].str.len()==4, 'Add Zero FIPS']
income_2016.insert(len(income_2016.columns), 'Add Zero FIPS', '0' + income_2016['FIPS'])
income_2016.loc[income_2016['FIPS'].str.len()==4, 'FIPS'] = income_2016.loc[income_2016['FIPS'].str.len()==4, 'Add Zero FIPS']
income_2018.insert(len(income_2018.columns), 'Add Zero FIPS', '0' + income_2018['FIPS'])
income_2018.loc[income_2018['FIPS'].str.len()==4, 'FIPS'] = income_2018.loc[income_2018['FIPS'].str.len()==4, 'Add Zero FIPS']

In [13]:
income_2012 = income_2012.rename(columns={'Mean household income (dollars)': 'Median Household income 2012'})
income_2012 = income_2012[['FIPS', 'Median Household income 2012']]
income_2016 = income_2016.rename(columns={'Total households!!Median household income (dollars)': 'Median Household income 2016'})
income_2016 = income_2016[['FIPS', 'Median Household income 2016']]
income_2018 = income_2018.rename(columns={'Total households!!Median household income (dollars)': 'Median Household income 2018'})
income_2018 = income_2018[['FIPS', 'Median Household income 2018']]

In [14]:
#final_df = pd.merge(NYC_df, JC_df, on = columns, how= 'outer')
merge1 = pd.merge(income_2012, income_2016, on=['FIPS'], how='outer')
merge2 = pd.merge(merge1, income_2018, on=['FIPS'], how='outer')
merge2.dropna()
election_year_income = merge2
election_year_income.head()

,FIPS,Median Household income 2012,Median Household income 2016,Median Household income 2018
0,27013,67849.0,53869.0,58616.0
1,27019,103742.0,92455.0,100324.0
2,27037,87157.0,78662.0,86302.0
3,27053,88229.0,71200.0,76052.0
4,27109,80026.0,72428.0,75327.0

In [15]:
path8 = 'Desktop/Election/election_year_income_processed.csv'
election_year_income.to_csv(path8,index=False)

In [17]:
path9 = 'Desktop/GITS/Election2020-Rice/dataFiles/processedData/election_year_income_processed.xlsx'
election_year_income.to_excel(path9, index=False)

In [18]:
path2 = 'Desktop/GITS/Election2020-Rice/dataFiles/processedData/medianincome_processed.xlsx'
income_df.to_excel(path2,index=False)